USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKUpdateStats]    Script Date: 4/20/2026 12:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 30, 2026
 * Version:      1.4
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKUpdateStats]
 *
 * Description: 
 * Upserts YearOverYear statistics based on CashFlow data.
 * Calculates Sequence of Returns and YTD ratios (Spent, Tax, Debt, etc).
 * * Logic:       
 * 1. Determines the target year (defaults to most recent if NULL).
 * 2. Upserts percentages from [GKCashFlow] to [GKYearOverYearStats].
 * 3. Calculates [Sequence_of_Returns].
 * 4. Updates YTD stats from [GKCashFlowYTD].
 *
 * Parameters:
 * @Year (INT) - Optional. 
 * If NULL: Processes the most recent date found in GKCashFlow.
 * If Value: Processes the most recent date within that specific year.
 *
 * Change Log:
 * v1.0 - 2026-02-10 - Initial documentation and error handling updates.
 * v1.3 - 3/8/2026 - Including additonal Stats calculations for income usage.
 * v1.4 - 3/30/2026 - Hardcode Wealthfront consolidation as 100% now that Voya 401(k) rollover completed.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKUpdateStats]
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction rolls back immediately on fatal error

    -- Variable declarations
    DECLARE @TargetYear INT;
    DECLARE @TargetYearStr VARCHAR(50); -- Added for textual comparisons
    DECLARE @SourceDate DATE;

    BEGIN TRY
        BEGIN TRANSACTION;

        ---------------------------------------------------
        -- 1. Determine the Source Date and Target Year
        ---------------------------------------------------
        IF @Year IS NULL
        BEGIN
            -- Default: Find the max date in the entire table
            SELECT TOP 1 @SourceDate = [Date]
            FROM [dbo].[GKCashFlow]
            ORDER BY [Date] DESC;

            -- If we found a date, grab the year.
            IF @SourceDate IS NOT NULL
            BEGIN
                SET @TargetYear = YEAR(@SourceDate);
                SET @TargetYearStr = CAST(@TargetYear AS VARCHAR(50));
            END
            ELSE
            BEGIN
                -- Graceful exit if table is empty
                PRINT 'Warning: [GKCashFlow] table is empty. No stats to update.';
                COMMIT TRANSACTION;
                RETURN;
            END
        END
        ELSE
        BEGIN
            -- User Input: Set TargetYear immediately
            SET @TargetYear = @Year;
            SET @TargetYearStr = CAST(@TargetYear AS VARCHAR(50));

            -- Try to find the max date within the specific requested year
            SELECT TOP 1 @SourceDate = [Date]
            FROM [dbo].[GKCashFlow]
            WHERE YEAR([Date]) = @TargetYear
            ORDER BY [Date] DESC;

            IF @SourceDate IS NULL
            BEGIN
                -- Convert to string for error message
                DECLARE @YearStr NVARCHAR(10) = CAST(@Year AS NVARCHAR(10));
                RAISERROR('Error: No records found in [GKCashFlow] for the requested year: %s.', 16, 1, @YearStr);
            END
        END

        ---------------------------------------------------
        -- 2. Perform Upsert (Merge)
        ---------------------------------------------------
        MERGE [dbo].[GKYearOverYearStats] AS Target
        USING (
            SELECT 
                @TargetYearStr AS [Year], -- Pass as String
                CAST(Taxable_Percent AS decimal(30, 18)) AS Taxable_Percent,
                CAST(Tax_Free_Percent AS decimal(30, 18)) AS Tax_Free_Percent,
                CAST(Tax_Deferred_Percent AS decimal(30, 18)) AS Tax_Deferred_Percent,
                CAST(Cash_Percent AS decimal(30, 18)) AS Cash_Percent,
                -- Calculate Wealthfront_Consolidation (1.0 - Tax_Deferred)
                -- Hardcode Wealthfront consolidation as 100% now that Voya 401(k) rollover completed. 3/30/2026
                CAST((1.0) AS decimal(30, 18)) AS Wealthfront_Consolidation
            FROM [dbo].[GKCashFlow]
            WHERE [Date] = @SourceDate
        ) AS Source
        -- Join on VARCHAR
        ON (Target.[Year] = Source.[Year]) 

        -- Update existing row
        WHEN MATCHED THEN
            UPDATE SET 
                Target.Taxable_Percent       = Source.Taxable_Percent,
                Target.Tax_Free_Percent      = Source.Tax_Free_Percent,
                Target.Tax_Deferred_Percent  = Source.Tax_Deferred_Percent,
                Target.Cash_Percent          = Source.Cash_Percent,
                Target.Wealthfront_Consolidation = Source.Wealthfront_Consolidation,
                Target.LastUpdate            = GETDATE()

        -- Insert new row
        WHEN NOT MATCHED THEN
            INSERT (
                [Year], 
                [Taxable_Percent], 
                [Tax_Free_Percent], 
                [Tax_Deferred_Percent], 
                [Cash_Percent], 
                [Wealthfront_Consolidation],
                [LastUpdate]
            )
            VALUES (
                Source.[Year], 
                Source.Taxable_Percent, 
                Source.Tax_Free_Percent, 
                Source.Tax_Deferred_Percent, 
                Source.Cash_Percent, 
                Source.Wealthfront_Consolidation,
                GETDATE()
            );
            
        -- Use standard string concat for PRINT
        PRINT 'Upsert completed using GKCashFlow data from: ' + CAST(@SourceDate AS VARCHAR(20));

        ---------------------------------------------------
        -- 3. Calculate Sequence_of_Returns
        ---------------------------------------------------
        UPDATE [dbo].[GKYearOverYearStats]
        SET [Sequence_of_Returns] = 
            (ISNULL([Taxable_Percent], 0) * ISNULL([Taxable_Return], 0)) +
            (ISNULL([Tax_Free_Percent], 0) * ISNULL([Tax_Free_Return], 0)) +
            (ISNULL([Tax_Deferred_Percent], 0) * ISNULL([Tax_Deferred_Return], 0)) +
            (ISNULL([Cash_Percent], 0) * ISNULL([Cash_Return], 0))
        WHERE [Year] = @TargetYearStr; 
        
        PRINT 'Calculated Sequence_of_Returns for Year: ' + @TargetYearStr;

        ---------------------------------------------------
        -- 4. Calculate YTD Stats from GKCashFlowYTD
        ---------------------------------------------------
        UPDATE Target
        SET 
            -- CPI_U
            Target.[CPI_U] = CASE 
                WHEN Source.[CPI_U_Percent] IS NOT NULL THEN Source.[CPI_U_Percent]
                ELSE Target.[CPI_U] 
            END,
            
            -- GK_Percent
            Target.[GK_Percent] = CASE 
                WHEN Source.[GK_Percent] IS NOT NULL THEN Source.[GK_Percent]
                ELSE Target.[GK_Percent] 
            END,
            
            -- Total_Assets
            Target.[Assets] = CASE 
                WHEN Source.[Total_Assets] IS NOT NULL THEN Source.[Total_Assets] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Assets] 
            END,
            
            -- Pension_NPV
            Target.[Pension_NPV] = CASE 
                WHEN Source.[Pension_NPV] IS NOT NULL THEN Source.[Pension_NPV] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Pension_NPV] 
            END,
            
            -- Social_Security_NPV
            Target.[Social_Security_NPV] = CASE 
                WHEN Source.[Social_Security_NPV] IS NOT NULL THEN Source.[Social_Security_NPV] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Social_Security_NPV] 
            END,
            
            -- Social_Security_Spouse_NPV
            Target.[Social_Security_Spouse_NPV] = CASE 
                WHEN Source.[Social_Security_Spouse_NPV] IS NOT NULL THEN Source.[Social_Security_Spouse_NPV] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Social_Security_Spouse_NPV] 
            END,
            
            -- Spent
            Target.[Spent] = CASE 
                WHEN Source.[Spending] IS NOT NULL THEN Source.[Spending] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Spent] 
            END,
            
            -- Tax
            Target.[Tax] = CASE 
                WHEN Source.[Tax] IS NOT NULL THEN Source.[Tax] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Tax] 
            END,
            
            -- Spent_Plus_Tax
            Target.[Spent_Tax] = CASE 
                WHEN Source.[Spending] IS NOT NULL OR Source.[Tax] IS NOT NULL 
                THEN (ISNULL(Source.[Spending], 0) + ISNULL(Source.[Tax], 0)) / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Spent_Tax] 
            END,
                                       
            -- Roth
            Target.[Roth] = CASE 
                WHEN Source.[Roth] IS NOT NULL THEN Source.[Roth] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Roth] 
            END,
            
            -- Cash_Buffer
            Target.[Cash_Buffer] = CASE 
                WHEN Source.[Cash_Buffer] IS NOT NULL THEN Source.[Cash_Buffer] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Cash_Buffer] 
            END,
            
            -- Investment
            Target.[Investment] = CASE 
                WHEN Source.Investment IS NOT NULL THEN Source.Investment / NULLIF(Source.[NetWorth], 0)
                ELSE Target.Investment 
            END,
            
            -- LifeInsurance
            Target.[Life_Insurance] = CASE 
                WHEN Source.[LifeInsurance] IS NOT NULL THEN Source.[LifeInsurance] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Life_Insurance] 
            END,
            
            -- Debt
            Target.[Debt] = CASE 
                WHEN Source.[Debt] IS NOT NULL THEN Source.[Debt] / NULLIF(Source.[NetWorth], 0)
                ELSE Target.[Debt] 
            END

        FROM [dbo].[GKYearOverYearStats] AS Target
        INNER JOIN [dbo].[GKCashFlowYTD] AS Source
            -- Convert Source (Int) to Varchar for join
            ON Target.[Year] = CAST(Source.[Year] AS VARCHAR(50))
        WHERE Target.[Year] = @TargetYearStr; 

        PRINT 'Updated YTD Stats (CPI, Spent, Tax, Debt) for Year: ' + @TargetYearStr;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR ('Error in [usp_GKUpdateStats]: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END
GO
