USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_BalanceHistogramExcelTable]    Script Date: 4/20/2026 12:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * =============================================
 * Author:       Cave Arnold
 * AI Assistant: Gemini
 * Create Date:  February 10, 2026
 * Version:      1.0
 * Description:  
 * Generates a histogram of balance updates grouped by hour of the day 
 * and day of the week. Designed for Excel reporting.
 * - Includes a 'TotalVolume' column.
 * - Includes a footer row with the date range of the data.
 * - Filters out specific SequenceIDs and non-account types.
 * - Uses NULLs instead of 0s for cleaner Excel visualization (sparse data).
 *
 * Change Log:
 * v1.0 - 2026-02-10 - Initial creation with CTE logic for hourly buckets.
 * =============================================
 */

CREATE PROCEDURE [dbo].[usp_BalanceHistogramExcelTable]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- 1. Generate Numbers 0-23 ensuring every hour is represented
        -- This ensures the report has rows for 3 AM even if no data exists for 3 AM.
        WITH Hours AS (
            SELECT 0 AS [HourOfDay]
            UNION ALL
            SELECT [HourOfDay] + 1 FROM Hours WHERE [HourOfDay] < 23
        ),
        
        -- 2. Fetch the Raw Data with Filters
        RawData AS (
            SELECT 
                DATEPART(HOUR, [LastUpdate]) AS [HourOfDay],
                DATENAME(WEEKDAY, [LastUpdate]) AS [DayOfWeek],
                [ID],
                [LastUpdate]
            FROM 
                [dbo].[Balances]
            WHERE 
                [LastUpdate] >= '2026-01-01'
                AND [Balance] IS NOT NULL
                AND [Type] = 'Account'
                AND [SequenceID] <> '4158071M' -- Exclude specific SequenceID known to be noise
        ),

        -- 3. Calculate Counts using Conditional Aggregation (Pre-Pivot logic)
        -- We Left Join to 'Hours' so missing hours show up as NULL rows.
        HourlyStats AS (
            SELECT 
                H.[HourOfDay],
                -- SUM(CASE...) returns NULL if no matches found (instead of 0)
                -- This is intentional for the Excel report (conditional formatting handles NULLs better).
                SUM(CASE WHEN D.[DayOfWeek] = 'Sunday' THEN 1 ELSE NULL END) AS [Sunday],
                SUM(CASE WHEN D.[DayOfWeek] = 'Monday' THEN 1 ELSE NULL END) AS [Monday],
                SUM(CASE WHEN D.[DayOfWeek] = 'Tuesday' THEN 1 ELSE NULL END) AS [Tuesday],
                SUM(CASE WHEN D.[DayOfWeek] = 'Wednesday' THEN 1 ELSE NULL END) AS [Wednesday],
                SUM(CASE WHEN D.[DayOfWeek] = 'Thursday' THEN 1 ELSE NULL END) AS [Thursday],
                SUM(CASE WHEN D.[DayOfWeek] = 'Friday' THEN 1 ELSE NULL END) AS [Friday],
                SUM(CASE WHEN D.[DayOfWeek] = 'Saturday' THEN 1 ELSE NULL END) AS [Saturday]
            FROM Hours H
            LEFT JOIN RawData D ON H.[HourOfDay] = D.[HourOfDay]
            GROUP BY H.[HourOfDay]
        ),

        -- 4. Calculate Date Range for the Footer
        RangeStats AS (
            SELECT 
                MIN([LastUpdate]) AS MinDate,
                MAX([LastUpdate]) AS MaxDate
            FROM RawData
        )

        -- 5. Combine (Union) the Hourly Data and the Footer
        SELECT 
            [TimeOfDay],
            [Sunday], [Monday], [Tuesday], [Wednesday], 
            [Thursday], [Friday], [Saturday], 
            [TotalVolume]
        FROM (
            -- Part A: The Hourly Data (Sorted 0-23)
            SELECT 
                [HourOfDay] AS SortKey,
                -- Format Time: "09:00 AM" with leading zero for sorting/display consistency
                RIGHT('0' + CAST(CASE WHEN [HourOfDay] % 12 = 0 THEN 12 ELSE [HourOfDay] % 12 END AS VARCHAR(2)), 2) + ':00 ' + 
                CASE WHEN [HourOfDay] < 12 THEN 'AM' ELSE 'PM' END AS [TimeOfDay],
                
                [Sunday], [Monday], [Tuesday], [Wednesday], 
                [Thursday], [Friday], [Saturday],
                
                -- Calculate Total: Treat NULL as 0 for sum, but convert final 0 back to NULL
                NULLIF(
                    (ISNULL([Sunday], 0) + ISNULL([Monday], 0) + ISNULL([Tuesday], 0) + 
                     ISNULL([Wednesday], 0) + ISNULL([Thursday], 0) + ISNULL([Friday], 0) + 
                     ISNULL([Saturday], 0)), 
                0) AS [TotalVolume]
            FROM HourlyStats

            UNION ALL

            -- Part B: The Date Range Footer (Sorted 100 to appear at bottom)
            SELECT 
                100 AS SortKey,
                'Range: ' + 
                ISNULL(CONVERT(VARCHAR, MinDate, 101), 'N/A') + ' to ' + 
                ISNULL(CONVERT(VARCHAR, MaxDate, 101), 'N/A') AS [TimeOfDay],
                NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
            FROM RangeStats
        ) AS FinalResult
        ORDER BY SortKey;

    END TRY
    BEGIN CATCH
        -- Standard Error Handling
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error back to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
