USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[GKYearOverYearStats]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GKYearOverYearStats](
	[Year] [varchar](50) NOT NULL,
	[Taxable_Percent] [decimal](30, 18) NULL,
	[Tax_Free_Percent] [decimal](30, 18) NULL,
	[Tax_Deferred_Percent] [decimal](30, 18) NULL,
	[Cash_Percent] [decimal](30, 18) NULL,
	[Taxable_Return] [decimal](30, 18) NULL,
	[Tax_Free_Return] [decimal](30, 18) NULL,
	[Tax_Deferred_Return] [decimal](30, 18) NULL,
	[Cash_Return] [decimal](30, 18) NULL,
	[Sequence_of_Returns] [decimal](30, 18) NULL,
	[Wealthfront_Consolidation] [decimal](30, 18) NULL,
	[CPI_U] [decimal](30, 18) NULL,
	[GK_Percent] [decimal](30, 18) NULL,
	[Assets] [decimal](30, 18) NULL,
	[Pension_NPV] [decimal](30, 18) NULL,
	[Social_Security_NPV] [decimal](30, 18) NULL,
	[Social_Security_Spouse_NPV] [decimal](30, 18) NULL,
	[LifeInsurance] [decimal](30, 18) NULL,
	[Pension] [decimal](30, 18) NULL,
	[Social_Security] [decimal](30, 18) NULL,
	[Social_Security_Spouse] [decimal](30, 18) NULL,
	[Spent] [decimal](30, 18) NULL,
	[Tax] [decimal](30, 18) NULL,
	[Spent_Tax] [decimal](30, 18) NULL,
	[Roth] [decimal](30, 18) NULL,
	[Cash_Buffer] [decimal](30, 18) NULL,
	[Investment] [decimal](30, 18) NULL,
	[Debt] [decimal](30, 18) NULL,
	[LastUpdate] [datetime] NULL
) ON [PRIMARY]
GO
