USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[GKCashFlowYTD]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GKCashFlowYTD](
	[Year] [varchar](50) NOT NULL,
	[Total_Assets] [decimal](18, 2) NULL,
	[CPI_U_Percent] [float] NULL,
	[GK_Percent] [float] NULL,
	[GK_Paycheck] [decimal](18, 2) NULL,
	[Pension] [decimal](18, 2) NULL,
	[Pension_NPV] [decimal](18, 2) NULL,
	[Social_Security] [decimal](18, 2) NULL,
	[Social_Security_NPV] [decimal](18, 2) NULL,
	[Social_Security_Spouse] [decimal](18, 2) NULL,
	[Social_Security_Spouse_NPV] [decimal](18, 2) NULL,
	[Roth] [decimal](18, 2) NULL,
	[W2_Income] [decimal](18, 2) NULL,
	[Income] [decimal](18, 2) NULL,
	[Spending] [decimal](18, 2) NULL,
	[Investment] [decimal](18, 2) NULL,
	[Cash_Buffer] [decimal](18, 2) NULL,
	[Debt] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
	[NetWorth] [decimal](18, 2) NULL,
	[LifeInsurance] [decimal](18, 2) NULL,
	[LastUpdate] [datetime] NOT NULL
) ON [PRIMARY]
GO
