USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKGetCashFlowByYear]    Script Date: 2/3/2026 6:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GKGetCashFlowByYear]
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Set default to current year if no value is provided
        IF @Year IS NULL
        BEGIN
            SET @Year = YEAR(GETDATE());
        END

        -- Main Query
        SELECT 
            [Date],
            [Taxable_Amount],
            [Taxable_Percent],
            [Tax_Free_Amount],
            [Tax_Free_Percent],
            [Tax_Deferred_Amount],
            [Tax_Deferred_Percent],
            [Cash_Amount],
            [Cash_Percent],
            [Total_Assets],
            [Delta],
            [Delta_Percent],
            [Annual_Periods],
            [CPI_U_Percent],
            [Inflated_Withdrawal_Percent],
            [Inflated_Withdrawal_Amount],
            [Withdrawal_Delta_Percent],
            [GK_Upper_Limit_Percent],
            [GK_Upper_Amount],
            [GK_Lower_Limit_Percent],
            [GK_Lower_Amount],
            [GK_Pay_Raise_Percent],
            [GK_Pay_Cut_Percent],
            [GK_Adjustment_Percent],
            [Annual_Periods_Adjustment_Percent],
            [Paycheck],
            [Paycheck_Total],
            [Paycheck_Taxed_Percent],
            [Paycheck_Source],
            [Pension],
            [Pension_Total],
            [Social_Security],
            [Social_Security_Total],
            [Social_Security_Taxed_Percent],
            [Roth_Conversion],
            [Roth_Conversion_Total],
            [Other_Income],
            [Other_Income_Total],
            [Income],
            [Income_Total],
            [Income_Tax_Total],
            [Spending_Less_Tax],
            [Spending_Less_Tax_Total],
            [Invest_Percent],
            [Invest],
            [Invest_Total],
            [Cash_Saved_Percent],
            [Cash_Saved],
            [Cash_Saved_Total],
            [Estimated_Deductions],
            [Taxable_Income_Total],
            [Tax_Withholding],
            [Tax_Target],
            [Tax_MFJ],
            [Tax_SF],
            [LastUpdate]
        FROM [Guyton-Klinger-Withdrawals].[dbo].[GKCashFlow]
        WHERE YEAR([Date]) = @Year;

    END TRY
    BEGIN CATCH
        -- Error Handling Logic
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
