USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetBalanceUpdateHistogram_Pivot]    Script Date: 2/3/2026 6:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_GetBalanceUpdateHistogram_Pivot]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Generate Numbers 0-23 ensuring every hour is represented
    WITH Hours AS (
        SELECT 0 AS [HourOfDay]
        UNION ALL
        SELECT [HourOfDay] + 1 FROM Hours WHERE [HourOfDay] < 23
    ),
    
    -- 2. Fetch the Raw Data with Filters
    RawData AS (
        SELECT 
            DATEPART(HOUR, [LastUpdate]) AS [HourOfDay],
            DATENAME(WEEKDAY, [LastUpdate]) AS [DayOfWeek],
            [ID],
            [LastUpdate]
        FROM 
            [dbo].[Balances]
        WHERE 
            [LastUpdate] >= '2026-01-01'
            AND [Balance] IS NOT NULL
            AND [Type] = 'Account'
            AND [SequenceID] <> '4158071M' -- Exclude specific SequenceID
    ),

    -- 3. Calculate Counts using Conditional Aggregation (Pre-Pivot logic)
    -- This method allows us to Left Join to 'Hours' so missing hours show up as NULL rows.
    HourlyStats AS (
        SELECT 
            H.[HourOfDay],
            -- SUM(CASE...) returns NULL if no matches found (instead of 0)
            SUM(CASE WHEN D.[DayOfWeek] = 'Sunday' THEN 1 ELSE NULL END) AS [Sunday],
            SUM(CASE WHEN D.[DayOfWeek] = 'Monday' THEN 1 ELSE NULL END) AS [Monday],
            SUM(CASE WHEN D.[DayOfWeek] = 'Tuesday' THEN 1 ELSE NULL END) AS [Tuesday],
            SUM(CASE WHEN D.[DayOfWeek] = 'Wednesday' THEN 1 ELSE NULL END) AS [Wednesday],
            SUM(CASE WHEN D.[DayOfWeek] = 'Thursday' THEN 1 ELSE NULL END) AS [Thursday],
            SUM(CASE WHEN D.[DayOfWeek] = 'Friday' THEN 1 ELSE NULL END) AS [Friday],
            SUM(CASE WHEN D.[DayOfWeek] = 'Saturday' THEN 1 ELSE NULL END) AS [Saturday]
        FROM Hours H
        LEFT JOIN RawData D ON H.[HourOfDay] = D.[HourOfDay]
        GROUP BY H.[HourOfDay]
    ),

    -- 4. Calculate Date Range for the Footer
    RangeStats AS (
        SELECT 
            MIN([LastUpdate]) AS MinDate,
            MAX([LastUpdate]) AS MaxDate
        FROM RawData
    )

    -- 5. Combine (Union) the Hourly Data and the Footer
    SELECT 
        [TimeOfDay],
        [Sunday], [Monday], [Tuesday], [Wednesday], 
        [Thursday], [Friday], [Saturday], 
        [TotalVolume]
    FROM (
        -- Part A: The Hourly Data (Sorted 0-23)
        SELECT 
            [HourOfDay] AS SortKey,
            -- Format Time: "09:00 AM" with leading zero
            RIGHT('0' + CAST(CASE WHEN [HourOfDay] % 12 = 0 THEN 12 ELSE [HourOfDay] % 12 END AS VARCHAR(2)), 2) + ':00 ' + 
            CASE WHEN [HourOfDay] < 12 THEN 'AM' ELSE 'PM' END AS [TimeOfDay],
            
            [Sunday], [Monday], [Tuesday], [Wednesday], 
            [Thursday], [Friday], [Saturday],
            
            -- Calculate Total: Treat NULL as 0 for sum, but convert final 0 back to NULL
            NULLIF(
                (ISNULL([Sunday], 0) + ISNULL([Monday], 0) + ISNULL([Tuesday], 0) + 
                 ISNULL([Wednesday], 0) + ISNULL([Thursday], 0) + ISNULL([Friday], 0) + 
                 ISNULL([Saturday], 0)), 
            0) AS [TotalVolume]
        FROM HourlyStats

        UNION ALL

        -- Part B: The Date Range Footer (Sorted 100 to appear at bottom)
        SELECT 
            100 AS SortKey,
            'Range: ' + 
            ISNULL(CONVERT(VARCHAR, MinDate, 101), 'N/A') + ' to ' + 
            ISNULL(CONVERT(VARCHAR, MaxDate, 101), 'N/A') AS [TimeOfDay],
            NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL
        FROM RangeStats
    ) AS FinalResult
    ORDER BY SortKey;
END
GO
