USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[ClosingPrices]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClosingPrices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Closing] [datetime] NULL,
	[Symbol] [nvarchar](10) NOT NULL,
	[Price] [money] NULL,
	[LastUpdate] [datetime] NULL,
 CONSTRAINT [PK_ClosingPrices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClosingPrices] ADD  CONSTRAINT [DF_ClosingPrices_LastUpdate]  DEFAULT (getdate()) FOR [LastUpdate]
GO
