USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpsertCPILatest]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_UpsertCPILatest]
 *
 * Description: 
 * Inserts the latest CPI (Consumer Price Index) report data into the 
 * CPILatestNumbers table. It handles both Seasonally Adjusted (SA) and 
 * Not Seasonally Adjusted (NSA) values.
 *
 * Parameters:
 * @ReportMonth       - The month the report covers (e.g., "January 2026")
 * @NSA_Val           - Non-Seasonally Adjusted monthly change
 * @NSA_Date          - Reference date for NSA value
 * @SA_Val            - Seasonally Adjusted monthly change
 * @SA_Date           - Reference date for SA value
 * @Yearly_Val        - NSA Yearly change (inflation rate)
 * @Yearly_Since_Date - Reference date for yearly calculation
 * @UpdateDate        - Timestamp of insertion (Defaults to GETDATE())
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_UpsertCPILatest]
    @ReportMonth        NVARCHAR(20),
    @NSA_Val            NVARCHAR(50),
    @NSA_Date           NVARCHAR(20),
    @SA_Val             NVARCHAR(50),
    @SA_Date            NVARCHAR(20),
    @Yearly_Val         NVARCHAR(50),
    @Yearly_Since_Date  NVARCHAR(20),
    @UpdateDate         DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction rollback on severe errors

    -- Set default update date if not provided
    IF @UpdateDate IS NULL SET @UpdateDate = GETDATE();

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert the new CPI record
        INSERT INTO dbo.CPILatestNumbers (
            ReportMonth, 
            NSA_Monthly_Change, NSA_Monthly_Date, 
            SA_Monthly_Change, SA_Monthly_Date, 
            NSA_Yearly_Change, NSA_Yearly_Since_Date, 
            LastUpdate
        )
        VALUES (
            @ReportMonth, 
            @NSA_Val, @NSA_Date, 
            @SA_Val, @SA_Date, 
            @Yearly_Val, @Yearly_Since_Date, 
            @UpdateDate
        );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback if a transaction is still active
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Log or re-throw the error with context
        RAISERROR ('Error in [usp_UpsertCPILatest]: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END;
GO
