USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_RankingsExcelTable]    Script Date: 4/20/2026 12:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 3, 2026
 * Version:      1.2
 * * Description: 
 * Generates a ranked list of updates from the Balances table for Excel export.
 * Includes a footer row with the date range of the data.
 * Change Log:
 * 3/3/2026 - Changed where clause logic to align with histogram logic.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_RankingsExcelTable]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- 1. Gather the filtered data first to calculate Range Stats and Rankings
        --    Using ;WITH to ensure previous statements don't interfere with the CTE
        ;WITH FilteredData AS (
            SELECT [ID], [Name], [LastUpdate]
            FROM [Guyton-Klinger-Withdrawals].[dbo].[Balances]
            WHERE [LastUpdate] >= '2026-01-01'
              AND [Type] = 'Account'
              AND [SequenceID] <> '4158071M'
        ),
        -- 2. Calculate the Date Range for the footer
        RangeStats AS (
            SELECT MIN([LastUpdate]) AS MinDate, MAX([LastUpdate]) AS MaxDate 
            FROM FilteredData
        )
        
        -- 3. Final Output with Union
        SELECT [Rank], [Name], [UpdateCount]
        FROM (
            -- Part A: The Main Rankings (Sorted 1 to appear at top)
            SELECT 
                1 AS SortKey,
                CAST(DENSE_RANK() OVER (ORDER BY COUNT([ID]) DESC) AS VARCHAR(50)) AS [Rank],
                [Name],
                COUNT([ID]) AS [UpdateCount]
            FROM FilteredData
            GROUP BY [Name]

            UNION ALL

            -- Part B: The Date Range Footer (Sorted 100 to appear at bottom)
            SELECT 
                100 AS SortKey,
                NULL AS [Rank], -- Placeholder for Rank column
                'Range: ' + 
                ISNULL(CONVERT(VARCHAR, MinDate, 101), 'N/A') + ' to ' + 
                ISNULL(CONVERT(VARCHAR, MaxDate, 101), 'N/A') AS [Name], -- Mapping date range to Name column
                NULL AS [UpdateCount]
            FROM RangeStats
        ) AS FinalResult
        ORDER BY SortKey, [UpdateCount] DESC;

    END TRY
    BEGIN CATCH
        -- Standard Error Handling
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
