USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKCashFlowYTDLast]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKCashFlowYTDLast]
 *
 * Description:
 * Upserts Year-To-Date (YTD) data into the GKCashFlowYTD table.
 * It retrieves the most recent non-null Total_Assets and Debt values 
 * from the source table (GKCashFlow) and updates or inserts a record 
 * for the specified year.
 *
 * Parameters:
 * @Year (INT) - The year to process. Defaults to current system year if NULL.
 *
 * Change Log:
 * v1.0 - 2026-02-10 - Initial documentation and error handling updates.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKCashFlowYTDLast]
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction rollback on severe errors

    -- 0. INITIALIZATION & INPUT VALIDATION
    -------------------------------------------------------------
    -- Default to current year if no year is provided
    IF @Year IS NULL
        SET @Year = YEAR(GETDATE());

    -- Validate Year range (sanity check)
    IF @Year < 1900 OR @Year > 2100
    BEGIN
        RAISERROR('Error: Year %d is out of valid range (1900-2100).', 16, 1, @Year);
        RETURN;
    END

    -- Convert year to VARCHAR(50) for the target table
    DECLARE @YearStr VARCHAR(50) = CAST(@Year AS VARCHAR(50));

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. RETRIEVE LATEST DATA
        -------------------------------------------------------------
        DECLARE @LatestAssets DECIMAL(18, 2);
        DECLARE @LatestDebt DECIMAL(18, 2);
        DECLARE @LatestGK_Adjustment_Percent FLOAT;

        -- Fetch latest non-null Assets
        SELECT TOP 1 @LatestAssets = Total_Assets 
        FROM dbo.GKCashFlow 
        WHERE Total_Assets IS NOT NULL 
        ORDER BY [Date] DESC;

        -- Fetch latest non-null Debt
        SELECT TOP 1 @LatestDebt = Debt 
        FROM dbo.GKCashFlow 
        WHERE Debt IS NOT NULL 
        ORDER BY [Date] DESC;

        -- Fetch latest non-null GK_Adjustment_Percent
        SELECT TOP 1 @LatestGK_Adjustment_Percent = GK_Adjustment_Percent 
        FROM dbo.GKCashFlow 
        WHERE GK_Adjustment_Percent IS NOT NULL 
        ORDER BY [Date] DESC;

        -- Check if we found source data
        IF @LatestAssets IS NULL AND @LatestDebt IS NULL
        BEGIN
            RAISERROR('Warning: No data found in source table [GKCashFlow]. Assets and Debt are NULL.', 10, 1);
        END

        -- 2. PERFORM UPSERT (MERGE)
        -------------------------------------------------------------
        MERGE INTO dbo.GKCashFlowYTD AS Target
        USING (SELECT @YearStr AS [Year]) AS Source
        ON (Target.[Year] = Source.[Year])
        
        WHEN MATCHED THEN
            UPDATE SET 
                Total_Assets = ISNULL(@LatestAssets, Target.Total_Assets),                          -- Keep existing if new is NULL
                Debt = ISNULL(@LatestDebt, Target.Debt),                                            -- Keep existing if new is NULL
                GK_Percent = ISNULL(@LatestGK_Adjustment_Percent, Target.GK_Percent),               -- Keep existing if new is NULL
                LastUpdate = GETDATE()

        WHEN NOT MATCHED THEN
            INSERT ([Year], Total_Assets, Debt, GK_Percent, LastUpdate)
            VALUES (Source.[Year], @LatestAssets, @LatestDebt, @LatestGK_Adjustment_Percent, GETDATE());

        COMMIT TRANSACTION;
        
        -- Success Feedback
        PRINT 'Successfully updated YTD records for Year: ' + @YearStr;

    END TRY
    BEGIN CATCH
        -- Rollback if a transaction is still active
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Log or re-throw the error with context
        RAISERROR ('Error in [usp_GKCashFlowYTDLast]: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END;
GO
