USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[sp_Alert_CompositePortfolioUpdate]    Script Date: 1/19/2026 10:44:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Alert_CompositePortfolioUpdate]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentPct DECIMAL(10, 2);
    DECLARE @PreviousPct DECIMAL(10, 2);
    DECLARE @htmlTable NVARCHAR(MAX);
    DECLARE @finalBody NVARCHAR(MAX);

    ---------------------------------------------------
    -- 1. GET THE CURRENT AND PREVIOUS VALUES
    ---------------------------------------------------
    -- We use a CTE to grab the top 2 rows ordered by date
    ;WITH HistoryCTE AS (
        SELECT TOP (2) 
            [MovingAverage_2Week_Percent], 
            [Closing]
        FROM [Guyton-Klinger-Withdrawals].[dbo].[vw_CompositePortfolio_MovingAverage]
        ORDER BY [Closing] DESC
    )
    SELECT @CurrentPct = MAX(CASE WHEN Rn = 1 THEN [MovingAverage_2Week_Percent] END),
           @PreviousPct = MAX(CASE WHEN Rn = 2 THEN [MovingAverage_2Week_Percent] END)
    FROM (
        SELECT [MovingAverage_2Week_Percent], ROW_NUMBER() OVER (ORDER BY [Closing] DESC) as Rn
        FROM HistoryCTE
    ) Sub;

    ---------------------------------------------------
    -- 2. CHECK IF THRESHOLD CROSSED (10, 20, ... 100)
    ---------------------------------------------------
    -- Logic: We divide by 10 and take the integer floor. 
    -- If the integer result changes (e.g., 1.9 -> 2.1), we crossed a 10s boundary.
    -- We also ensure CurrentPct is within the 10-100 range of interest.
    
    IF (@PreviousPct IS NOT NULL) 
       AND (FLOOR(@CurrentPct / 10.0) <> FLOOR(@PreviousPct / 10.0))
       AND (@CurrentPct >= 10)
    BEGIN
        ---------------------------------------------------
        -- 3. BUILD HTML (Only runs if threshold crossed)
        ---------------------------------------------------
        SET @htmlTable = CAST(
            (
                SELECT TOP (1)
                    'left' AS 'td/@align', 
                    [ID] AS 'td', '',
                    [TaxType] AS 'td', '',
                    [Closing] AS 'td', '',
                    [CompositePrice] AS 'td', '',
                    [LastUpdate] AS 'td', '',
                    [MovingAverage_2Week] AS 'td', '',
                    [CompositePercent] AS 'td', '',
                    [MovingAverage_2Week_Percent] AS 'td'
                FROM [Guyton-Klinger-Withdrawals].[dbo].[vw_CompositePortfolio_MovingAverage]
                ORDER BY [Closing] DESC
                FOR XML PATH('tr'), TYPE
            ) AS NVARCHAR(MAX)
        );

        SET @finalBody = 
            N'<html>
            <head>
                <style>
                    table { border-collapse: collapse; width: 100%; font-family: Arial, sans-serif; font-size: 12px; }
                    th { background-color: #D32F2F; color: white; padding: 8px; text-align: left; border: 1px solid #ddd; }
                    td { border: 1px solid #ddd; padding: 8px; color: #333; }
                </style>
            </head>
            <body>
                <h3>🚨 Threshold Alert: ' + CAST(CAST(@CurrentPct AS INT) AS NVARCHAR(5)) + '% Reached</h3>
                <p>The 2-Week Moving Average Percent has crossed a 10% threshold.</p>
                <p><strong>Previous:</strong> ' + CAST(@PreviousPct AS NVARCHAR(10)) + '% <br />
                <strong>Current:</strong> ' + CAST(@CurrentPct AS NVARCHAR(10)) + '%</p>
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tax Type</th>
                            <th>Closing</th>
                            <th>Composite Price</th>
                            <th>Last Update</th>
                            <th>2-Wk Mov Avg</th>
                            <th>Comp %</th>
                            <th>2-Wk Mov Avg %</th>
                        </tr>
                    </thead>
                    <tbody>' 
                    + ISNULL(@htmlTable, '') + 
                    N'</tbody>
                </table>
            </body>
            </html>';

        ---------------------------------------------------
        -- 4. SEND EMAIL
        ---------------------------------------------------
        EXEC msdb.dbo.sp_send_dbmail
            @profile_name = 'MyMailProfile',
            @recipients = 'CaveArnold@gmail.com',
            @subject = 'Alert: Moving Average Crossed Threshold',
            @body = @finalBody,
            @body_format = 'HTML';
            
        PRINT 'Threshold crossed (' + CAST(@PreviousPct AS VARCHAR) + ' -> ' + CAST(@CurrentPct AS VARCHAR) + '). Email sent.';
    END
    ELSE
    BEGIN
        PRINT 'No 10% interval crossed. Current: ' + CAST(ISNULL(@CurrentPct,0) AS VARCHAR) + '%. No email sent.';
    END
END;
GO
