USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_Alert_CompositePortfolioUpdate]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ==============================================================================================
 * Object:          [dbo].[usp_Alert_CompositePortfolioUpdate]
 * Description:     Checks the 'vw_CompositePortfolio_MovingAverage' view to see if the 
 * 2-Week Moving Average Percent has crossed a 10% threshold (e.g., 20% -> 30%)
 * since the previous closing date. If a threshold is crossed, an HTML email 
 * alert is sent via Database Mail.
 *
 * Developer:       Cave Arnold
 * AI Assistant:    Gemini
 * Date:            February 10, 2026
 * Version:         1.0
 * * Logic Summary:
 * 1. Retrieve the top 2 records (Current and Previous) ordered by [Closing] date.
 * 2. Calculate if the integer floor of the percentage divided by 10 has changed.
 * 3. Construct an HTML table of the latest data.
 * 4. Dispatch email using 'MyMailProfile'.
 * ==============================================================================================
 */

CREATE PROCEDURE [dbo].[usp_Alert_CompositePortfolioUpdate]
AS
BEGIN
    SET NOCOUNT ON;

    -- Variable Declaration
    DECLARE @CurrentPct     DECIMAL(10, 2);
    DECLARE @PreviousPct    DECIMAL(10, 2);
    DECLARE @htmlTable      NVARCHAR(MAX);
    DECLARE @finalBody      NVARCHAR(MAX);
    DECLARE @EmailSubject   NVARCHAR(255);
    DECLARE @ErrorMessage   NVARCHAR(4000);
    DECLARE @ErrorSeverity  INT;
    DECLARE @ErrorState     INT;

    BEGIN TRY
        ---------------------------------------------------
        -- 1. GET THE CURRENT AND PREVIOUS VALUES
        ---------------------------------------------------
        -- We use a CTE to grab the top 2 rows ordered by closing date.
        -- This ensures we are comparing the very latest entry against the immediate predecessor.
        ;WITH HistoryCTE AS (
            SELECT TOP (2) 
                [MovingAverage_2Week_Percent], 
                [Closing]
            FROM [Guyton-Klinger-Withdrawals].[dbo].[vw_CompositePortfolio_MovingAverage]
            ORDER BY [Closing] DESC
        )
        SELECT 
            @CurrentPct = MAX(CASE WHEN Rn = 1 THEN [MovingAverage_2Week_Percent] END),
            @PreviousPct = MAX(CASE WHEN Rn = 2 THEN [MovingAverage_2Week_Percent] END)
        FROM (
            -- Assign Row Numbers to identify Current (1) vs Previous (2)
            SELECT 
                [MovingAverage_2Week_Percent], 
                ROW_NUMBER() OVER (ORDER BY [Closing] DESC) as Rn
            FROM HistoryCTE
        ) Sub;

        -- Check if we actually retrieved data (Prevent errors if table is empty)
        IF @CurrentPct IS NULL 
        BEGIN
            PRINT 'Warning: insufficient data found to perform comparison.';
            RETURN;
        END

        ---------------------------------------------------
        -- 2. CHECK IF THRESHOLD CROSSED (10, 20, ... 100)
        ---------------------------------------------------
        -- Logic: We divide by 10 and take the integer floor. 
        -- If the integer result changes (e.g., 19.5/10 = 1 vs 21.0/10 = 2), we crossed a boundary.
        -- We also ensure CurrentPct is within the 10-100 range of interest.
        
        IF (@PreviousPct IS NOT NULL) 
           AND (FLOOR(@CurrentPct / 10.0) <> FLOOR(@PreviousPct / 10.0))
           AND (@CurrentPct >= 10)
        BEGIN
            ---------------------------------------------------
            -- 3. BUILD HTML (Only runs if threshold crossed)
            ---------------------------------------------------
            -- Generate table rows using XML PATH
            SET @htmlTable = CAST(
                (
                    SELECT TOP (1)
                        'left' AS 'td/@align', 
                        [ID] AS 'td', '',
                        [TaxType] AS 'td', '',
                        FORMAT([Closing], 'yyyy-MM-dd') AS 'td', '', -- Added Date Formatting for readability
                        [CompositePrice] AS 'td', '',
                        FORMAT([LastUpdate], 'yyyy-MM-dd HH:mm') AS 'td', '',
                        [MovingAverage_2Week] AS 'td', '',
                        [CompositePercent] AS 'td', '',
                        [MovingAverage_2Week_Percent] AS 'td'
                    FROM [Guyton-Klinger-Withdrawals].[dbo].[vw_CompositePortfolio_MovingAverage]
                    ORDER BY [Closing] DESC
                    FOR XML PATH('tr'), TYPE
                ) AS NVARCHAR(MAX)
            );

            -- Construct the full HTML Body
            SET @finalBody = 
                N'<html>
                <head>
                    <style>
                        table { border-collapse: collapse; width: 100%; font-family: Arial, sans-serif; font-size: 12px; }
                        th { background-color: #D32F2F; color: white; padding: 8px; text-align: left; border: 1px solid #ddd; }
                        td { border: 1px solid #ddd; padding: 8px; color: #333; }
                        .highlight { font-weight: bold; color: #D32F2F; }
                    </style>
                </head>
                <body>
                    <h3>🚨 Threshold Alert: <span class="highlight">' + CAST(CAST(@CurrentPct AS INT) AS NVARCHAR(5)) + '%</span> Reached</h3>
                    <p>The 2-Week Moving Average Percent has crossed a 10% threshold.</p>
                    <p><strong>Previous:</strong> ' + CAST(@PreviousPct AS NVARCHAR(10)) + '% <br />
                    <strong>Current:</strong> ' + CAST(@CurrentPct AS NVARCHAR(10)) + '%</p>
                    <br />
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tax Type</th>
                                <th>Closing</th>
                                <th>Composite Price</th>
                                <th>Last Update</th>
                                <th>2-Wk Mov Avg</th>
                                <th>Comp %</th>
                                <th>2-Wk Mov Avg %</th>
                            </tr>
                        </thead>
                        <tbody>' 
                        + ISNULL(@htmlTable, '') + 
                        N'</tbody>
                    </table>
                </body>
                </html>';

            SET @EmailSubject = 'Alert: Moving Average Crossed Threshold (' + CAST(CAST(@CurrentPct AS INT) AS NVARCHAR(5)) + '%)';

            ---------------------------------------------------
            -- 4. SEND EMAIL
            ---------------------------------------------------
            EXEC msdb.dbo.sp_send_dbmail
                @profile_name = 'MyMailProfile',
                @recipients = 'CaveArnold@gmail.com',
                @subject = @EmailSubject,
                @body = @finalBody,
                @body_format = 'HTML';
                
            PRINT 'Success: Threshold crossed (' + CAST(@PreviousPct AS VARCHAR) + ' -> ' + CAST(@CurrentPct AS VARCHAR) + '). Email sent.';
        END
        ELSE
        BEGIN
            PRINT 'Info: No 10% interval crossed. Current: ' + CAST(ISNULL(@CurrentPct,0) AS VARCHAR) + '%. No email sent.';
        END

    END TRY
    BEGIN CATCH
        ---------------------------------------------------
        -- 5. ERROR HANDLING
        ---------------------------------------------------
        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Log to console for debugging
        PRINT 'ERROR OCCURRED in [usp_Alert_CompositePortfolioUpdate]: ' + @ErrorMessage;

        -- Re-throw the error so the calling job/agent knows it failed
        THROW @ErrorSeverity, @ErrorMessage, @ErrorState;
    END CATCH
END;
GO
