USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[GKCashFlow]    Script Date: 3/9/2026 9:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GKCashFlow](
	[Date] [date] NOT NULL,
	[Taxable_Amount] [decimal](18, 2) NULL,
	[Taxable_Percent] [float] NULL,
	[Tax_Free_Amount] [decimal](18, 2) NULL,
	[Tax_Free_Percent] [float] NULL,
	[Tax_Deferred_Amount] [decimal](18, 2) NULL,
	[Tax_Deferred_Percent] [float] NULL,
	[Cash_Amount] [decimal](18, 2) NULL,
	[Cash_Percent] [float] NULL,
	[Total_Assets] [decimal](18, 2) NULL,
	[Delta] [decimal](18, 2) NULL,
	[Delta_Percent] [float] NULL,
	[Annual_Periods] [int] NULL,
	[CPI_U_Percent] [float] NULL,
	[Inflated_Withdrawal_Percent] [float] NULL,
	[Inflated_Withdrawal_Amount] [decimal](18, 2) NULL,
	[Withdrawal_Delta_Percent] [float] NULL,
	[GK_Upper_Limit_Percent] [float] NULL,
	[GK_Upper_Amount] [decimal](18, 2) NULL,
	[GK_Lower_Limit_Percent] [float] NULL,
	[GK_Lower_Amount] [decimal](18, 2) NULL,
	[GK_Pay_Raise_Percent] [float] NULL,
	[GK_Pay_Cut_Percent] [float] NULL,
	[GK_Adjustment_Percent] [float] NULL,
	[GK_Annual_Periods_Adjustment_Percent] [float] NULL,
	[GK_Paycheck_Daily] [decimal](18, 2) NULL,
	[GK_Paycheck_Weekly] [decimal](18, 2) NULL,
	[GK_Paycheck_Monthly] [decimal](18, 2) NULL,
	[Paycheck_Taxed_Percent] [float] NULL,
	[Paycheck_Source] [nvarchar](256) NULL,
	[Pension] [decimal](18, 2) NULL,
	[Social_Security] [decimal](18, 2) NULL,
	[Social_Security_Spouse] [decimal](18, 2) NULL,
	[Social_Security_Taxed_Percent] [float] NULL,
	[Roth] [decimal](18, 2) NULL,
	[W2_Income] [decimal](18, 2) NULL,
	[Income] [decimal](18, 2) NULL,
	[Spending_Less_Tax] [decimal](18, 2) NULL,
	[Investment] [decimal](18, 2) NULL,
	[Cash_Buffer] [decimal](18, 2) NULL,
	[Debt] [decimal](18, 2) NULL,
	[Tax_Withholding] [decimal](18, 2) NULL,
	[Tax_Target] [decimal](18, 2) NULL,
	[Tax_MFJ] [decimal](18, 2) NULL,
	[Tax_SF] [decimal](18, 2) NULL,
	[LastUpdate] [datetime] NOT NULL
) ON [PRIMARY]
GO
