USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetWithdrawalStrategy]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * Developer: Cave Arnold
 * AI Assistant: Gemini
 * Date: February 10, 2026
 * Version: 1.1
 * Description: 
 * This stored procedure calculates a dynamic withdrawal strategy based on 
 * the Guyton-Klinger decision rules using a 2-week moving average.
 * It implements a linear interpolation (sliding scale) between 80% and 90%
 * portfolio valuation thresholds, and dynamically identifies the target account 
 * for asset sales using vw_HighestPositiveVariance.
 *
 * Change Log:
 * -------------------------------------------------------------------------
 * 2026-02-21 (Gemini): Updated strategy outputs to append the dynamic account type from vw_HighestPositiveVariance.
 * 2026-02-10 (Cave Arnold): Added robust error handling, validation, and standard headers.
 * 2026-01-18 (Gemini): Initial creation of logic.
 */

CREATE PROCEDURE [dbo].[usp_GetWithdrawalStrategy]
AS
BEGIN
    -- Prevent extra result sets from interfering with SELECT statements.
    SET NOCOUNT ON;

    DECLARE @ReturnCode INT = 0;
    DECLARE @TargetAccount NVARCHAR(100) = '';

    BEGIN TRY
        -- 1. Validation: Ensure the views exist and have data
        IF NOT EXISTS (SELECT 1 FROM [dbo].[vw_CompositePortfolio_MovingAverage])
        BEGIN
            RAISERROR('Error: Source view [vw_CompositePortfolio_MovingAverage] is empty or does not exist.', 16, 1);
            RETURN 1;
        END

        IF NOT EXISTS (SELECT 1 FROM [dbo].[vw_HighestPositiveVariance])
        BEGIN
            RAISERROR('Error: Source view [vw_HighestPositiveVariance] is empty or does not exist.', 16, 1);
            RETURN 1;
        END

        -- Fetch the account type to sell from
        SELECT TOP (1) @TargetAccount = [Highest_Surplus_Account] 
        FROM [dbo].[vw_HighestPositiveVariance];

        -- 2. Execution: Calculate Withdrawal Strategy
        SELECT TOP (1)
            -- Calculated Withdrawal Strategy Column
            CASE 
                -- Upper Guardrail: Above 90% Valuation -> Sell Assets
                WHEN [MovingAverage_2Week_Percent] >= 90 THEN '100% from sale of ' + @TargetAccount + ' assets.'
                
                -- Lower Guardrail: Below 80% Valuation -> Use Cash Reserve
                WHEN [MovingAverage_2Week_Percent] < 80 THEN '100% from cash.'
                
                -- Middle Tier (Sliding Scale): Between 80% and 90%
                -- Logic: Linear Interpolation
                -- Formula: (Current% - LowerBound) / (UpperBound - LowerBound)
                ELSE 
                    FORMAT(
                        ([MovingAverage_2Week_Percent] - 80.0) / (90.0 - 80.0), 
                        'P1'
                    ) + ' from sale of ' + @TargetAccount + ' assets.'
            END AS [WithdrawalStrategy]

        FROM [dbo].[vw_CompositePortfolio_MovingAverage]
        ORDER BY [Closing] DESC;

    END TRY
    BEGIN CATCH
        -- 3. Error Handling
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Re-raise the error to the calling application/user
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        
        SET @ReturnCode = ERROR_NUMBER();
    END CATCH

    RETURN @ReturnCode;
END
GO
