USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKCashFlowDebtUpdate]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKCashFlowDebtUpdate]
 * * Description:
 * Updates the GKCashFlow.Debt column using Rocket Mortgage balance data
 * from the Balances table.
 *
 * Parameters:
 * @Year (INT) - Optional. If NULL, defaults to the current calendar year.
 *
 * Logic:
 * 1. Matches GKCashFlow.Date to Balances.LastUpdate (IGNORING TIME).
 * 2. Filters for Balances.Name = '🚀Rocket Mortgage - Primary House'.
 * 3. Only updates if GKCashFlow.Debt is currently NULL.
 *
 * Change Log:
 * v1.0 - 2026-02-10 - Initial documentation and error handling updates.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKCashFlowDebtUpdate]
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @RowCount INT = 0;
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;

    -- 1. Default Year Logic
    IF @Year IS NULL
    BEGIN
        SET @Year = YEAR(GETDATE());
    END

    BEGIN TRY
        BEGIN TRANSACTION;

            -- 2. Perform the Update
            UPDATE GK
            SET GK.Debt = B.Balance
            FROM [dbo].[GKCashFlow] GK
            INNER JOIN [dbo].[Balances] B 
                -- Cast LastUpdate to DATE to ignore the time component during comparison
                ON CAST(GK.[Date] AS DATE) = CAST(B.[LastUpdate] AS DATE)
            WHERE 
                YEAR(GK.[Date]) = @Year
                AND B.[Name] = N'🚀Rocket Mortgage - Primary House'
                AND GK.Debt IS NULL; 

            SET @RowCount = @@ROWCOUNT;

        COMMIT TRANSACTION;

        PRINT 'Success: Update completed for Year ' + CAST(@Year AS NVARCHAR(4)) + '.';
        PRINT 'Rows Modified: ' + CAST(@RowCount AS NVARCHAR(10));

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
