USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKCashFlowYTDSums]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 8, 2026
 * Version:      1.3
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKCashFlowYTDSums]
 *
 * Description: 
 * Calculates Year-To-Date (YTD) sums for various cash flow categories 
 * from the [GKCashFlow] table and performs an UPSERT (Merge) into 
 * the [GKCashFlowYTD] summary table.
 *
 * Parameters:
 * @Year (INT) - The year to process. Defaults to the current system year if NULL.
 *
 * Change Log:
 * 3/8/2026 - SCA - Renamed and removed columns to align with new system of 
 *                  tracking income use.
 *
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKCashFlowYTDSums]
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction rollback on severe errors

    -- 1. INITIALIZATION
    -------------------------------------------------------------
    -- Default to current year if @Year is NULL
    SET @Year = ISNULL(@Year, YEAR(GETDATE()));

    -- Convert Year to VARCHAR for matching the target table schema (if needed by schema)
    DECLARE @YearStr VARCHAR(50) = CAST(@Year AS VARCHAR(50));

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 2. PERFORM UPSERT (MERGE)
        -------------------------------------------------------------
        MERGE [dbo].[GKCashFlowYTD] AS Target
        USING (
            -- Aggregate source data for the specified year
            -- ISNULL used on SUMs to ensure 0 is stored instead of NULL if no data exists
            SELECT 
                @YearStr AS [YearValue],
                ISNULL(SUM([CPI_U_Percent]), 0) AS [SumCPI],
                ISNULL(SUM([GK_Paycheck_Daily]), 0) AS [SumPaycheck],
                ISNULL(SUM([Pension]), 0) AS [SumPension],
                ISNULL(SUM([Social_Security]), 0) AS [SumSS],
                ISNULL(SUM([Social_Security_Spouse]), 0) AS [SumSSSpouse],
                ISNULL(SUM([Roth]), 0) AS [SumRoth],
                ISNULL(SUM([W2_Income]), 0) AS [SumW2],
                ISNULL(SUM([Income]), 0) AS [SumIncome],
                ISNULL(SUM([Spending_Less_Tax]), 0) AS [SumSpending_Less_Tax],
                ISNULL(SUM([Investment]), 0) AS [SumInvest],
                ISNULL(SUM([Cash_Buffer]), 0) AS [SumCash],
                ISNULL(SUM([Tax_Withholding]), 0) AS [SumTax]
            FROM [dbo].[GKCashFlow]
            WHERE YEAR([Date]) = @Year
        ) AS Source
        ON (Target.[Year] = Source.[YearValue])
        
        WHEN MATCHED THEN
            UPDATE SET 
                [CPI_U_Percent]        = Source.[SumCPI],
                [GK_Paycheck]          = Source.[SumPaycheck],
                [Pension]              = Source.[SumPension],
                [Social_Security]      = Source.[SumSS],
                [Social_Security_Spouse] = Source.[SumSSSpouse],
                [Roth]      = Source.[SumRoth],
                [W2_Income]            = Source.[SumW2],
                [Income]               = Source.[SumIncome],
                [Spending]    = Source.[SumSpending_Less_Tax],
                [Investment]               = Source.[SumInvest],
                [Cash_Buffer]           = Source.[SumCash],
                [Tax]      = Source.[SumTax],
                [LastUpdate]           = GETDATE()

        WHEN NOT MATCHED THEN
            INSERT (
                [Year], 
                [CPI_U_Percent], 
                [GK_Paycheck], 
                [Pension], 
                [Social_Security], 
                [Social_Security_Spouse], 
                [Roth], 
                [W2_Income], 
                [Income], 
                [Spending], 
                [Investment], 
                [Cash_Buffer], 
                [Tax], 
                [LastUpdate]
            )
            VALUES (
                Source.[YearValue], 
                Source.[SumCPI], 
                Source.[SumPaycheck], 
                Source.[SumPension], 
                Source.[SumSS], 
                Source.[SumSSSpouse], 
                Source.[SumRoth], 
                Source.[SumW2], 
                Source.[SumIncome], 
                Source.[SumSpending_Less_Tax], 
                Source.[SumInvest], 
                Source.[SumCash], 
                Source.[SumTax], 
                GETDATE()
            );

        COMMIT TRANSACTION;
        
        PRINT 'Success: GKCashFlowYTD updated for year ' + @YearStr;
    END TRY
    BEGIN CATCH
        -- Rollback if a transaction is still active
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Raise the error to the caller
        RAISERROR ('Error in [usp_GKCashFlowYTDSums]: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END;
GO
