USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  View [dbo].[vw_MostRecentBalances]    Script Date: 3/9/2026 9:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[vw_MostRecentBalances]
 * * Description: 
 * Returns the most recent valid balance for each account.
 * * Error Handling Strategy:
 * This view implements logical error handling by filtering out rows where:
 * 1. The [Error] column is populated (indicating a scraping failure).
 * 2. The [Balance] is zero or negative (indicating bad data).
 * * By filtering specific errors inside the subquery, the ROW_NUMBER() function 
 * naturally finds the last "Good" record, preventing temporary scraping 
 * failures from breaking downstream dashboards.
 * ******************************************************************************
 */

CREATE VIEW [dbo].[vw_MostRecentBalances]
AS
SELECT 
    [ID],
    [SequenceID],
    [Name],
    [Balance],
    [Type],
    [Error],
    [LastUpdate]
FROM (
    SELECT 
        [ID],
        [SequenceID],
        [Name],
        [Balance],
        [Type],
        [Error],
        [LastUpdate],
        -- Assign a rank of 1 to the newest *VALID* record for each Name
        ROW_NUMBER() OVER (
            PARTITION BY [Name] 
            ORDER BY [LastUpdate] DESC, [ID] DESC
        ) AS RowNum
    FROM [dbo].[Balances]
    WHERE 
        -- Error Handling: Exclude rows where error is Closed.
        -- Data Integrity: Only consider positive balances
        [Balance] > 0.0
        AND [Name] in (SELECT [Name] FROM [dbo].[Accounts] WHERE [Active] = 1)
    ) AS RankedData
WHERE RowNum = 1;
GO
