USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKCashFlowYTDNetWorth]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * * Developer:    Cave Arnold
 * * AI Assistant: Gemini
 * * Date:         February 10, 2026
 * * Version:      1.0
 * */

/*
    ============================================================================
    Procedure Name: usp_GKCashFlowYTDNetWorth
    Description:    Updates the NetWorth column for a specific year in the 
                    GKCashFlowYTD table.
                    
    Formula:        NetWorth = (Total_Assets + Pension_NPV + Social_Security_NPV + 
                                Social_Security_Spouse_NPV + LifeInsurance) - Debt
    
    Parameters:     @Year (INT) - Optional. The year to calculate. 
                                  Defaults to current year if NULL.
    ============================================================================
*/

CREATE PROCEDURE [dbo].[usp_GKCashFlowYTDNetWorth]
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction rollback on severe errors

    -- 1. Determine the Target Year
    --    If input is NULL, use current system year
    DECLARE @TargetYear INT;
    SET @TargetYear = ISNULL(@Year, YEAR(GETDATE()));

    BEGIN TRY
        BEGIN TRANSACTION;

            -- 2. Check if the record exists before attempting update
            IF EXISTS (SELECT 1 FROM [dbo].[GKCashFlowYTD] WHERE [Year] = @TargetYear)
            BEGIN
                -- 3. Perform the Update
                --    We use ISNULL(x, 0) to ensure the math works even if fields are empty/null
                UPDATE [dbo].[GKCashFlowYTD]
                SET 
                    NetWorth = (
                        ISNULL(Total_Assets, 0) + 
                        ISNULL(Pension_NPV, 0) + 
                        ISNULL(Social_Security_NPV, 0) + 
                        ISNULL(Social_Security_Spouse_NPV, 0) + 
                        ISNULL(LifeInsurance, 0)
                    ) - ISNULL(Debt, 0),
                    
                    LastUpdate = GETDATE()
                WHERE 
                    [Year] = @TargetYear;

                PRINT 'NetWorth successfully updated for Year: ' + CAST(@TargetYear AS NVARCHAR(10));
            END
            ELSE
            BEGIN
                -- If the year doesn't exist, we just print a warning rather than throwing an error
                PRINT 'Warning: No record found for Year: ' + CAST(@TargetYear AS NVARCHAR(10)) + '. No update performed.';
            END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- 4. Rollback and Report Error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Include the procedure name in the error output for clarity
        RAISERROR ('Error in [usp_GKCashFlowYTDNetWorth]: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END
GO
