USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[Balances]    Script Date: 3/9/2026 9:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balances](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SequenceID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Balance] [money] NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Error] [nvarchar](256) NULL,
	[LastUpdate] [datetime] NULL,
 CONSTRAINT [PK_Balances] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Balances_Name_LastUpdate]    Script Date: 3/9/2026 9:48:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_Balances_Name_LastUpdate] ON [dbo].[Balances]
(
	[Name] ASC,
	[LastUpdate] DESC,
	[ID] DESC
)
INCLUDE([SequenceID],[Balance],[Type],[Error]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
