USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddManualBalance]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * Developer: Cave Arnold
 * AI Assistant: Gemini
 * Date: February 15, 2026
 * Version: 1.1
 * Description: 
 * This procedure inserts a manual balance entry for the Voya 401(k) account.
 * It includes input sanitization for currency strings and enforces business 
 * rules preventing multiple manual entries on the same calendar day, as well 
 * as preventing duplicate consecutive balance amounts.
 * Context:
 * Created to address missing data gaps caused by Plaid MFA synchronization issues.
 * Parameters:
 * @BalanceInput (NVARCHAR(50)) - The raw balance string (e.g., "$1,234.56" or "1234.56").
 * Change Log:
 * 2/10/2026 - v1.0 - Initial creation with input validation and error handling.
 * 2/15/2026 - v1.1 - Added validation to prevent entering the exact same balance as the prior entry.
 */

CREATE PROCEDURE [dbo].[usp_AddManualBalance]
    @BalanceInput NVARCHAR(50) -- The only parameter required
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures the transaction rolls back immediately on severe errors

    BEGIN TRY
        ---------------------------------------------------
        -- 1. Configuration & Variable Declaration
        ---------------------------------------------------
        -- Hardcoded values defined inside the procedure per requirements
        DECLARE @SequenceID NVARCHAR(50) = N'4158071M';
        DECLARE @Name NVARCHAR(100)      = N'💰Voya - Cave''s 401(k) M';
        DECLARE @Type NVARCHAR(50)       = N'Account';
        DECLARE @Error NVARCHAR(256)     = N'Manual Update due to MFA issues with Plaid.';
        
        DECLARE @CleanBalance MONEY;
        DECLARE @LastBalance MONEY;

        ---------------------------------------------------
        -- 2. Input Sanitization
        ---------------------------------------------------
        -- Remove currency symbols and commas, then attempt cast
        SET @CleanBalance = TRY_CAST(REPLACE(REPLACE(@BalanceInput, '$', ''), ',', '') AS MONEY);

        ---------------------------------------------------
        -- 3. Validation Logic
        ---------------------------------------------------
        
        -- CHECK 1: Ensure input is a valid monetary format
        IF @CleanBalance IS NULL
        BEGIN
            RAISERROR('Error: Invalid currency format provided. Please check inputs.', 16, 1);
            RETURN;
        END

        -- CHECK 2: One Entry Per Day Rule
        -- Compares the Date part of LastUpdate against the Date part of GETDATE()
        IF EXISTS (
            SELECT 1 
            FROM dbo.Balances 
            WHERE Name = @Name 
              AND CAST(LastUpdate AS DATE) = CAST(GETDATE() AS DATE)
        )
        BEGIN
            RAISERROR('Business Rule Violation: An entry for this account has already been made today.', 16, 1);
            RETURN;
        END

        -- CHECK 3: Duplicate Prior Entry Rule
        -- Fetches the most recent balance for this specific account
        SELECT TOP 1 @LastBalance = Balance
        FROM dbo.Balances
        WHERE Name = @Name
        ORDER BY LastUpdate DESC;

        -- Compares the new balance to the most recent balance
        IF @LastBalance IS NOT NULL AND @LastBalance = @CleanBalance
        BEGIN
            RAISERROR('Business Rule Violation: The entered balance is identical to the most recent entry.', 16, 1);
            RETURN;
        END

        ---------------------------------------------------
        -- 4. Execution
        ---------------------------------------------------
        BEGIN TRANSACTION;
        
            INSERT INTO dbo.Balances (SequenceID, Name, Balance, Type, Error)
            VALUES (@SequenceID, @Name, @CleanBalance, @Type, @Error);
            
            -- Optional: Print confirmation for manual execution
            PRINT 'Success: Manual balance of $' + CONVERT(NVARCHAR, @CleanBalance, 1) + ' added.';

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        ---------------------------------------------------
        -- 5. Error Handling
        ---------------------------------------------------
        -- If an error occurs inside the Transaction, roll it back
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture and re-raise the specific error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
