USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKCashFlowYTDExcelTable]    Script Date: 4/20/2026 12:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 8, 2026
 * Version:      1.3
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKCashFlowYTDExcelTable]
 * Description:  Selects financial data for a specific year from the [GKCashFlowYTD] table.
 * Designed for Excel data connections.
 *
 * Change Log:
 * 3/8/2026 - SCA - Renamed and removed columns to align with new system of 
 *                  tracking income use.
 *
 ***********************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKCashFlowYTDExcelTable]
    @Year INT = NULL
AS
BEGIN
    -- Prevent extra result sets from interfering with SELECT statements (improves performance for Excel)
    SET NOCOUNT ON;

    BEGIN TRY
        -- Logic: If @Year is not provided, default to the current system year
        SET @Year = ISNULL(@Year, YEAR(GETDATE()));

        -- Select data for the requested year
        SELECT 
             [Year]
            ,[Total_Assets]
            ,[CPI_U_Percent]
            ,[GK_Percent]
            ,[GK_Paycheck]
            ,[Pension]
            ,[Pension_NPV]
            ,[Social_Security]
            ,[Social_Security_NPV]
            ,[Social_Security_Spouse]
            ,[Social_Security_Spouse_NPV]
            ,[Roth]
            ,[W2_Income]
            ,[Income]
            ,[Spending]
            ,[Investment]
            ,[Cash_Buffer]
            ,[Debt]
            ,[Tax]
            ,[NetWorth]
            ,[LifeInsurance]
            ,[LastUpdate]
        FROM [dbo].[GKCashFlowYTD]
        WHERE [Year] = @Year;

    END TRY
    BEGIN CATCH
        -- Error Handling: Capture and report the error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Raise the error back to the caller (e.g., Excel or SSMS)
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
