USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKUpdateCPIU]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKUpdateCPIU]
 *
 * Description:
 * Fetches the latest CPI-U (Consumer Price Index) data, calculates the daily
 * inflation adjustment, and updates the GKCashFlow withdrawal percentages.
 * It includes logic to backtrack to the last valid CPI number if the current
 * date's data is missing or "unchanged".
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKUpdateCPIU]
    @UpdateDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures stricter transaction handling

    -- 1. Default to Current Date if NULL
    SET @UpdateDate = ISNULL(@UpdateDate, CAST(GETDATE() AS DATE));

    -- 2. Pre-flight Check: Ensure target record exists
    IF NOT EXISTS (SELECT 1 FROM [dbo].[GKCashFlow] WHERE [Date] = @UpdateDate)
    BEGIN
        DECLARE @DateStr NVARCHAR(20) = CONVERT(NVARCHAR, @UpdateDate, 120);
        RAISERROR('Target record missing: No row found in [GKCashFlow] for date %s. Update aborted.', 16, 1, @DateStr);
        RETURN;
    END

    -- Variables for Data Fetching
    DECLARE @FoundLastUpdate DATE;
    DECLARE @RawCPIString NVARCHAR(50);
    DECLARE @NumericCPI FLOAT;
    
    -- Variables for Time Calculations (Based on FoundLastUpdate)
    DECLARE @DaysInMonth INT;
    DECLARE @DaysInYear INT;
    DECLARE @Year INT;

    -- Variables for Calculations
    DECLARE @DailyCPIPercent FLOAT;
    DECLARE @PreviousWithdrawalPercent FLOAT;
    DECLARE @PreviousWithdrawalAmount MONEY;
    DECLARE @NewWithdrawalPercent FLOAT;
    DECLARE @NewWithdrawalAmount MONEY;
    DECLARE @WithdrawalDeltaPercent FLOAT;
    DECLARE @CurrentTotalAssets MONEY;

    BEGIN TRY
        BEGIN TRANSACTION;

        -----------------------------------------------------
        -- STEP 1: Get the Source CPI Value & Date
        -----------------------------------------------------
        
        -- Attempt to get the value for the exact match date
        SELECT TOP 1 
            @RawCPIString = SA_Monthly_Change,
            @FoundLastUpdate = CAST(LastUpdate AS DATE)
        FROM [dbo].[CPILatestNumbers]
        WHERE CAST(LastUpdate AS DATE) = @UpdateDate;

        -- Backtracking Logic: If 'unchanged', NULL, or not numeric, look for previous valid entry
        IF @RawCPIString IS NULL 
           OR LOWER(@RawCPIString) = 'unchanged' 
           OR TRY_CAST(REPLACE(@RawCPIString, '%', '') AS FLOAT) IS NULL
        BEGIN
            SELECT TOP 1 
                @RawCPIString = SA_Monthly_Change,
                @FoundLastUpdate = CAST(LastUpdate AS DATE)
            FROM [dbo].[CPILatestNumbers]
            WHERE CAST(LastUpdate AS DATE) < @UpdateDate
              AND TRY_CAST(REPLACE(SA_Monthly_Change, '%', '') AS FLOAT) IS NOT NULL
            ORDER BY LastUpdate DESC;
        END

        -- Error if no valid data found after backtracking
        IF @RawCPIString IS NULL OR @FoundLastUpdate IS NULL
        BEGIN
            RAISERROR('Data Error: No valid numeric SA_Monthly_Change found for this date or in prior history.', 16, 1);
        END

        -----------------------------------------------------
        -- STEP 2: Set Time Variables based on Found CPI Date
        -----------------------------------------------------

        -- Calculate Days in Month using the actual CPI date found
        SET @DaysInMonth = DAY(EOMONTH(@FoundLastUpdate));
        SET @Year = YEAR(@FoundLastUpdate);

        -- Calculate Days in Year (Leap Year Logic) using the actual CPI date found
        IF (@Year % 4 = 0 AND @Year % 100 <> 0) OR (@Year % 400 = 0)
            SET @DaysInYear = 366;
        ELSE
            SET @DaysInYear = 365;

        -----------------------------------------------------
        -- STEP 3: Clean and Convert CPI
        -----------------------------------------------------

        -- Remove % and Convert to Float
        SET @NumericCPI = TRY_CAST(REPLACE(@RawCPIString, '%', '') AS FLOAT);

        IF @NumericCPI IS NULL
        BEGIN
            RAISERROR('Conversion Error: Could not convert SA_Monthly_Change string "%s" to float.', 16, 1, @RawCPIString);
        END

        -- Convert to proper percent (e.g., 0.2% -> 0.002)
        SET @NumericCPI = @NumericCPI / 100.0;

        -- Calculate Daily CPI (Monthly Percent / Days in Month)
        -- Guard against division by zero (unlikely but safe)
        IF @DaysInMonth = 0 SET @DaysInMonth = 30; 
        SET @DailyCPIPercent = @NumericCPI / CAST(@DaysInMonth AS FLOAT);

        -----------------------------------------------------
        -- STEP 4: Fetch Previous Row Data
        -----------------------------------------------------

        SELECT TOP 1 
            @PreviousWithdrawalPercent = [Inflated_Withdrawal_Percent],
            @PreviousWithdrawalAmount = [Inflated_Withdrawal_Amount]
        FROM [dbo].[GKCashFlow]
        WHERE [Date] < @UpdateDate 
        ORDER BY [Date] DESC;

        -- Handle First Run / Null scenarios
        SET @PreviousWithdrawalPercent = ISNULL(@PreviousWithdrawalPercent, 0); 
        SET @PreviousWithdrawalAmount = ISNULL(@PreviousWithdrawalAmount, 0);

        -----------------------------------------------------
        -- STEP 5: Calculate New Values
        -----------------------------------------------------

        -- Calculate New Inflated Withdrawal Percent
        -- Formula: Prev % * (1 + Daily Inflation)
        SET @NewWithdrawalPercent = @PreviousWithdrawalPercent * (1 + @DailyCPIPercent);

        -- Get Current Total Assets
        SELECT @CurrentTotalAssets = [Total_Assets] 
        FROM [dbo].[GKCashFlow] 
        WHERE [Date] = @UpdateDate;

        SET @CurrentTotalAssets = ISNULL(@CurrentTotalAssets, 0);

        -- Calculate New Inflated Withdrawal Amount
        SET @NewWithdrawalAmount = @CurrentTotalAssets * @NewWithdrawalPercent;

        -- Calculate Withdrawal Delta Percent
        IF @PreviousWithdrawalAmount <> 0
            SET @WithdrawalDeltaPercent = (@NewWithdrawalAmount - @PreviousWithdrawalAmount) / @PreviousWithdrawalAmount;
        ELSE
            SET @WithdrawalDeltaPercent = 0;

        -----------------------------------------------------
        -- STEP 6: Update GKCashFlow
        -----------------------------------------------------

        UPDATE [dbo].[GKCashFlow]
        SET 
            [Annual_Periods] = @DaysInYear,
            [CPI_U_Percent] = @DailyCPIPercent,
            [Inflated_Withdrawal_Percent] = @NewWithdrawalPercent,
            [Inflated_Withdrawal_Amount] = @NewWithdrawalAmount,
            [Withdrawal_Delta_Percent] = @WithdrawalDeltaPercent,
            [LastUpdate] = GETDATE()
        WHERE [Date] = @UpdateDate;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Raise the error with original severity/state
        RAISERROR ('Error in [usp_GKUpdateCPIU]: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END
GO
