USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Symbol] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TaxType] [nvarchar](25) NOT NULL,
	[Percent] [decimal](5, 2) NOT NULL,
	[cookie] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Portfolio]  WITH CHECK ADD  CONSTRAINT [CK__Portfolio__Perce__2CF2ADDF] CHECK  (([Percent]>=(0) AND [Percent]<=(100)))
GO
ALTER TABLE [dbo].[Portfolio] CHECK CONSTRAINT [CK__Portfolio__Perce__2CF2ADDF]
GO
