USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  View [dbo].[vw_MostRecentPrice]    Script Date: 3/9/2026 9:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ==============================================================================================
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 21, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[vw_MostRecentPrice]
 * * Description:  Retrieves the most recent Closing Price for each Symbol.
 * Uses ROW_NUMBER() partitioned by Symbol and ordered by the Closing date 
 * (descending) to isolate the latest record.
 ============================================================================================== */

CREATE   VIEW [dbo].[vw_MostRecentPrice]
AS

WITH RankedPrices AS (
    SELECT 
        [ID],
        [Symbol],
        [Price],
        [Closing],
        [LastUpdate],
        -- Assigns a 1 to the newest row for each symbol. 
        -- Uses ID DESC as a tie-breaker just in case two records share the exact same Closing datetime.
        ROW_NUMBER() OVER (PARTITION BY [Symbol] ORDER BY [Closing] DESC, [ID] DESC) AS [RowNum]
    FROM 
        [dbo].[ClosingPrices]
    WHERE
        -- Basic data error handling: filter out invalid/corrupt records
        [Symbol] IS NOT NULL 
        AND [Closing] IS NOT NULL
)
SELECT 
    [ID],
    [Symbol],
    [Price],
    [Closing],
    [LastUpdate]
FROM 
    RankedPrices
WHERE 
    [RowNum] = 1;
GO
