USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_CalculateHomeEquityExcelTable]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* * =============================================
 * Developer:       Cave Arnold
 * AI Assistant:    Gemini
 * Create Date:     May 7, 2026
 * Version:         1.0
 * Description:     Retrieves Name and Balance for property (Zillow) and 
 * mortgage/loan data for Excel export. Calculates two new rows:
 * 'Home Equity' (difference between property value and loan) 
 * and 'Home Equity %' (percentage of equity owned).
 *
 * Change Log:
 * -------------------------------------------------------------------------
 * Date          Author          Description
 * 2026-05-07   Cave Arnold     Initial Release.
 * =============================================
 */

CREATE PROCEDURE [dbo].[usp_CalculateHomeEquityExcelTable]
AS
BEGIN
    -- Prevent extra result sets from interfering with SELECT statements.
    SET NOCOUNT ON;

    BEGIN TRY
        -- =======================================================
        -- Main Logic
        -- =======================================================
        
        -- Variables to hold the balances for calculation
        DECLARE @HomeValue DECIMAL(18, 4) = 0;
        DECLARE @LoanValue DECIMAL(18, 4) = 0;
        DECLARE @HomeEquity DECIMAL(18, 4) = 0;
        DECLARE @HomeEquityPct DECIMAL(18, 4) = 0;

        -- 1. Extract the Zillow balance
        SELECT @HomeValue = CAST([Balance] AS DECIMAL(18, 4))
        FROM [dbo].[vw_MostRecentBalances]
        WHERE [SequenceID] = 'Zillow';

        -- 2. Extract the Mortgage/Loan balance
        SELECT @LoanValue = CAST([Balance] AS DECIMAL(18, 4))
        FROM [dbo].[vw_MostRecentBalances]
        WHERE [SequenceID] = 'E7JzykvZ04cJRN1R3ax6UQarqDYL1rCna7gxj';

        -- 3. Calculate Derived Values
        SET @HomeEquity = @HomeValue - @LoanValue;
        
        -- Prevent divide-by-zero errors
        IF @HomeValue > 0
            SET @HomeEquityPct = @HomeEquity / @HomeValue;
        ELSE
            SET @HomeEquityPct = 0;

        -- 4. Build and return the final table using UNION ALL
        SELECT 
            [Name] as 'Metric', 
            CAST([Balance] AS DECIMAL(18, 4)) AS 'Value'
        FROM [dbo].[vw_MostRecentBalances]
        WHERE [SequenceID] IN ('Zillow', 'E7JzykvZ04cJRN1R3ax6UQarqDYL1rCna7gxj')
        
        UNION ALL
        
        SELECT 
            'Home Equity Amount' AS 'Metric', 
            @HomeEquity AS 'Value'
            
        UNION ALL
        
        SELECT 
            'Home Equity %' AS 'Metric', 
            @HomeEquityPct AS 'Value';

    END TRY
    BEGIN CATCH
        -- =======================================================
        -- Error Handling
        -- =======================================================
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Return the error information to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        
        -- Alternatively, for SQL Server 2012+, use THROW; to re-throw the exact error
        -- THROW; 
    END CATCH
END
GO
