USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  View [dbo].[vw_AccountBalancesByTaxTypeAndCategory]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[vw_AccountBalancesByTaxTypeAndCategory]
 * Description:  Aggregates account balances by Tax Type and Category.
 * Filters out specific categories (529, Liability, Operational-Cash)
 * and non-account types.
 * ******************************************************************************
 */

CREATE VIEW [dbo].[vw_AccountBalancesByTaxTypeAndCategory]
AS
SELECT 
      -- Defensive Coding: Handle NULL TaxTypes to prevent reporting errors
      ISNULL(a.[TaxType], 'Unknown') AS [TaxType]
    
      -- Defensive Coding: Handle NULL Categories
    , ISNULL(a.[Category], 'Uncategorized') AS [Category]
    
    , COUNT(a.[Name]) AS AccountCount
    
    -- Defensive Coding: Ensure SUM never returns NULL (default to 0.00)
    , ISNULL(SUM(m.[Balance]), 0.00) AS TotalBalance

FROM [dbo].[Accounts] a
INNER JOIN [dbo].[vw_MostRecentBalances] m
    ON a.[Name] = m.[Name]
WHERE m.[Type] = 'Account'
  AND a.[Category] NOT IN ('529', 'Liability', 'Operational-Cash')
GROUP BY 
      a.[TaxType]
    , a.[Category];
GO
