USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKStatsExcelTable]    Script Date: 4/20/2026 12:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 8, 2026
 * Version:      1.3
 *
 * Description:
 * Retrieves Year-Over-Year statistics for Excel reporting.
 * Outputs numeric years as true INTs and text values as text using SQL_VARIANT.
 * Formats percentage columns for correct Excel rendering.
 * Implements custom sorting to prioritize chronological years, followed by 
 * 'Goal' and 'Mean' summary rows.
 *
 * Change Log:
 * v1.0 - 2026-02-10 - Initial documentation and error handling updates.
 * v1.3 - 3/8/2026 - Including additonal Stats calculations for income usage.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKStatsExcelTable]
AS
BEGIN
    -- Prevent row count messages from interfering with the result set
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            -- Output as a variant so Excel recognizes numbers as integers and text as text
            CASE 
                WHEN ISNUMERIC([Year]) = 1 THEN CAST(CAST([Year] AS INT) AS SQL_VARIANT)
                ELSE CAST([Year] AS SQL_VARIANT) 
            END AS [Year],
            
            -- Divide percentages by 100 for correct Excel formatting
            [Taxable_Percent],
            [Tax_Free_Percent],
            [Tax_Deferred_Percent],
            [Cash_Percent],
            [Taxable_Return],
            [Tax_Free_Return],
            [Tax_Deferred_Return],
            [Cash_Return],
            [Sequence_of_Returns],
            [Wealthfront_Consolidation],
            [CPI_U],
            [GK_Percent],
            [Assets],
            [Pension_NPV],
            [Social_Security_NPV],
            [Social_Security_Spouse_NPV],
            [Life_Insurance],
            [Pension],
            [Social_Security],
            [Social_Security_Spouse],
            [Spent],
            [Tax],
            [Spent_Tax],
            [Roth],
            [Cash_Buffer],
            [Investment],
            [Debt],
            [LastUpdate]

        FROM [dbo].[GKYearOverYearStats]
        ORDER BY
            -- Primary Sort: Define the custom hierarchy
            CASE 
                WHEN [Year] = 'Goal' THEN 2  -- 'GOAL' comes second
                WHEN [Year] = 'Mean' THEN 3  -- 'Mean' comes last
                ELSE 1                       -- Numeric/Date years come first
            END ASC,
            
            -- Secondary Sort: Sort the standard years chronologically
            CASE 
                WHEN ISNUMERIC([Year]) = 1 THEN CAST([Year] AS INT)
                ELSE 0 
            END ASC;

    END TRY
    BEGIN CATCH
        -- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Return the error information to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
