USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKStatsIncomeDistributionExcelTable]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 9, 2026
 * Version:      1.4
 *
 * Description:
 * Retrieves Income Distribution statistics for Excel reporting.
 * Filters to the current year by default if no parameter is provided.
 * Normalizes the Spent, Tax, Roth, Cash_Buffer, and Investment values 
 * so they sum to 1.0 (100%) and unpivots them vertically for Excel layout.
 * Outputs raw decimals (e.g., 0.032398) to allow for native Excel formatting.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKStatsIncomeDistributionExcelTable]
    @TargetYear VARCHAR(4) = NULL
AS
BEGIN
    -- Prevent row count messages from interfering with the result set
    SET NOCOUNT ON;

    -- If no year is provided, default to the current system year
    IF @TargetYear IS NULL
    BEGIN
        SET @TargetYear = CAST(YEAR(GETDATE()) AS VARCHAR(4));
    END

    BEGIN TRY
        SELECT 
            MetricData.Metric,
            -- Calculate raw decimal proportion (e.g., 0.032398 instead of '3.2398%')
            -- Using DECIMAL(10,6) to preserve the 4 decimal places when converted to a percentage in Excel
            CAST((MetricData.RawValue * 1.0) / NULLIF(TotalData.TotalSum, 0) AS DECIMAL(10,6)) AS Proportion
        FROM [dbo].[GKYearOverYearStats]
        -- Step 1: Calculate the total sum of the 5 columns to normalize against
        CROSS APPLY (
            SELECT (ISNULL([Spent], 0) + 
                    ISNULL([Tax], 0) + 
                    ISNULL([Roth], 0) + 
                    ISNULL([Cash_Buffer], 0) + 
                    ISNULL([Investment], 0)) AS TotalSum
        ) AS TotalData
        -- Step 2: Unpivot the columns vertically with their sort order
        CROSS APPLY (
            VALUES 
                ('Spent', [Spent], 1),
                ('Tax', [Tax], 2),
                ('Roth', [Roth], 3),
                ('Cash_Buffer', [Cash_Buffer], 4),
                ('Investment', [Investment], 5)
        ) AS MetricData(Metric, RawValue, SortOrder)
        WHERE [Year] = @TargetYear
        ORDER BY MetricData.SortOrder;

    END TRY
    BEGIN CATCH
        -- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Return the error information to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
