USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKWeeklyMonthlyPaycheck]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKWeeklyMonthlyPaycheck]
 *
 * Description: 
 * Calculates the sum of GK_Paycheck_Daily on a weekly and monthly basis 
 * starting after the earliest date where Annual_Periods = 365.
 * Updates the GK_Paycheck_Weekly and GK_Paycheck_Monthly columns for reporting.
 *
 * Logic:
 * 1. Identify @StartDate: MIN(Date) where Annual_Periods = 365.
 * 2. Sum GK_Paycheck_Daily by Year-Week and update GK_Paycheck_Weekly.
 * 3. Sum GK_Paycheck_Daily by Year-Month and update GK_Paycheck_Monthly.
 * 4. Updates [LastUpdate] timestamp.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKWeeklyMonthlyPaycheck]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction rollback on severe runtime errors

    DECLARE @StartDate DATE;
    DECLARE @StartTime DATETIME = GETDATE();

    BEGIN TRY
        -- Begin Transaction for Atomicity
        BEGIN TRANSACTION;

        -- 1. Get the Earliest Date where Annual_Periods is 365
        SELECT @StartDate = MIN([Date])
        FROM [dbo].[GKCashFlow]
        WHERE [Annual_Periods] = 365;

        -- Validation: If no trigger date is found, log and exit
        IF @StartDate IS NULL
        BEGIN
            PRINT 'No record found with Annual_Periods = 365. No updates performed.';
            COMMIT TRANSACTION;
            RETURN;
        END

        PRINT 'Starting calculations from date: ' + CAST(@StartDate AS NVARCHAR(20));

        -- ---------------------------------------------------------
        -- 2. Update Weekly Paycheck
        -- ---------------------------------------------------------
        -- Calculates sum of daily paychecks for each week (Year + Week Number)
        -- Note: This updates every daily record with the total for that week
        ;WITH WeeklySums AS (
            SELECT 
                DATEPART(YEAR, [Date]) AS [Year],
                DATEPART(WEEK, [Date]) AS [WeekNum],
                SUM(ISNULL([GK_Paycheck_Daily], 0)) AS [TotalWeeklyPay]
            FROM [dbo].[GKCashFlow]
            WHERE [Date] >= @StartDate
            GROUP BY DATEPART(YEAR, [Date]), DATEPART(WEEK, [Date])
        )
        UPDATE T
        SET T.GK_Paycheck_Weekly = W.TotalWeeklyPay,
            T.LastUpdate = GETDATE()
        FROM [dbo].[GKCashFlow] T
        INNER JOIN WeeklySums W 
            ON DATEPART(YEAR, T.[Date]) = W.[Year] 
            AND DATEPART(WEEK, T.[Date]) = W.[WeekNum]
        WHERE T.[Date] >= @StartDate;

        PRINT 'Weekly paychecks updated.';

        -- ---------------------------------------------------------
        -- 3. Update Monthly Paycheck
        -- ---------------------------------------------------------
        -- Calculates sum of daily paychecks for each month (Year + Month)
        -- Note: This updates every daily record with the total for that month
        ;WITH MonthlySums AS (
            SELECT 
                DATEPART(YEAR, [Date]) AS [Year],
                DATEPART(MONTH, [Date]) AS [MonthNum],
                SUM(ISNULL([GK_Paycheck_Daily], 0)) AS [TotalMonthlyPay]
            FROM [dbo].[GKCashFlow]
            WHERE [Date] >= @StartDate
            GROUP BY DATEPART(YEAR, [Date]), DATEPART(MONTH, [Date])
        )
        UPDATE T
        SET T.GK_Paycheck_Monthly = M.TotalMonthlyPay,
            T.LastUpdate = GETDATE()
        FROM [dbo].[GKCashFlow] T
        INNER JOIN MonthlySums M
            ON DATEPART(YEAR, T.[Date]) = M.[Year] 
            AND DATEPART(MONTH, T.[Date]) = M.[MonthNum]
        WHERE T.[Date] >= @StartDate;

        PRINT 'Monthly paychecks updated.';

        -- Commit Transaction
        IF @@TRANCOUNT > 0
            COMMIT TRANSACTION;
        
        PRINT 'Procedure usp_GKWeeklyMonthlyPaycheck completed successfully in ' + 
              CAST(DATEDIFF(MILLISECOND, @StartTime, GETDATE()) AS NVARCHAR(20)) + ' ms.';

    END TRY
    BEGIN CATCH
        -- Rollback if an error occurred during the update
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture and throw error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorProcedure NVARCHAR(128) = ISNULL(ERROR_PROCEDURE(), 'usp_GKWeeklyMonthlyPaycheck');

        -- Log the error source
        PRINT 'Error occurred in procedure: ' + @ErrorProcedure;

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
