USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  View [dbo].[vw_CompositePortfolio_MovingAverage]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[vw_CompositePortfolio_MovingAverage]
 *
 * Description: 
 * Calculates a 14-day (2-week) moving average for the Composite Portfolio
 * and determines the percentage of the current price/MA relative to their 
 * historical maximums per TaxType.
 *
 * Error Handling:
 * Uses NULLIF to prevent "Divide by Zero" exceptions during percentage calculations.
 * ******************************************************************************
 */

CREATE VIEW [dbo].[vw_CompositePortfolio_MovingAverage]
AS
WITH CTE_MovingAvg AS (
    -- Step 1: Calculate the Moving Average first
    SELECT 
        [ID],
        [TaxType],
        [Closing],
        [CompositePrice],
        [LastUpdate],
        AVG([CompositePrice]) OVER (
            PARTITION BY [TaxType] 
            ORDER BY [Closing] ASC
            ROWS BETWEEN 13 PRECEDING AND CURRENT ROW
        ) AS [MovingAverage_2Week]
    FROM 
        [dbo].[CompositePortfolio]
)
-- Step 2: Calculate the Percentages based on the CTE results
SELECT 
    [ID],
    [TaxType],
    [Closing],
    [CompositePrice],
    [LastUpdate],
    [MovingAverage_2Week],

    -- Composite Percent (Current Price vs Max Price of Partition)
    -- ERROR HANDLING: NULLIF prevents divide-by-zero if Max Price is 0
    (
        [CompositePrice] 
        / 
        NULLIF(MAX([CompositePrice]) OVER (PARTITION BY [TaxType]), 0)
    ) * 100 AS [CompositePercent],

    -- Moving Average Percent (Current MA vs Max MA of Partition)
    -- ERROR HANDLING: NULLIF prevents divide-by-zero if Max MA is 0
    (
        [MovingAverage_2Week] 
        / 
        NULLIF(MAX([MovingAverage_2Week]) OVER (PARTITION BY [TaxType]), 0)
    ) * 100 AS [MovingAverage_2Week_Percent]

FROM 
    CTE_MovingAvg;
GO
