USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetVoyaBalance]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * Developer: Cave Arnold
 * AI Assistant: Gemini
 * Date: February 10, 2026
 * Version: 1.0
 * Description: Retrieves the most recent balance for the 'Voya - Cave''s 401(k) M' account 
 * from the Balances table. Includes error handling to catch and report 
 * execution issues.
 */

CREATE PROCEDURE [dbo].[usp_GetVoyaBalance]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Selects the most recent balance for the specific Voya account
        -- using TOP 1 ordered by the LastUpdate date descending.
        SELECT TOP 1 Balance
        FROM dbo.Balances
        WHERE Name = N'💰Voya - Cave''s 401(k) M'
        ORDER BY LastUpdate DESC;
    END TRY
    BEGIN CATCH
        -- Standard error handling block.
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the error back to the caller (e.g., the C# application)
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
