USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKUpdate]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.2
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKUpdate]
 *
 * Description: 
 * Master orchestration procedure for the Guyton-Klinger daily update process.
 * It executes all necessary child procedures in the correct dependency order
 * to update balances, CPI, calculations, and statistical aggregations.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKUpdate]
    @Date DATE = NULL
AS
BEGIN
    -- Enable NOCOUNT to prevent extra result sets from interfering with SELECT statements.
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures immediate rollback on severe errors

    ---------------------------------------------------
    -- 1. Handle Default Date Argument
    ---------------------------------------------------
    -- If no date is provided, default to the current system date.
    IF @Date IS NULL
        SET @Date = CAST(GETDATE() AS DATE);

    BEGIN TRY
        BEGIN TRANSACTION;

            ---------------------------------------------------
            -- 2. Execute Child Procedures in Order
            ---------------------------------------------------

            -- Step 1: Update Balances by Tax Type
            EXEC [dbo].[usp_GKUpdateTaxableBalancesByDate] @AsOfDate = @Date;

            -- Step 2: Update CPI-U Data
            EXEC [dbo].[usp_GKUpdateCPIU] @UpdateDate = @Date;

            -- Step 3: Run Main Guyton Klinger Calculation Update
            EXEC [dbo].[usp_GKCalculationUpdate] @ProcessDate = @Date;

            DECLARE @ProcessYear INT = YEAR(@Date);

            -- Step 4: Calculate the sum of Daily Paychecks per Week/Month.
            EXEC [dbo].[usp_GKWeeklyMonthlyPaycheck];

            -- Step 5: Updates the GKCashFlow.Debt column using Rocket Mortgage balance data from the Balances table.
            EXEC [dbo].[usp_GKCashFlowDebtUpdate];

            -- Step 6: Calculate YTD Sums.
            EXEC [dbo].[usp_GKCashFlowYTDSums] @Year = @ProcessYear;

            -- Step 7: Calculate YTD Latest values.
            EXEC [dbo].[usp_GKCashFlowYTDLast] @Year = @ProcessYear;

            -- Step 8: Calculate YTD Net Worth.
            EXEC [dbo].[usp_GKCashFlowYTDNetWorth] @Year = @ProcessYear;

            -- Step 9: Update Year Over Year Stats
            -- We derive the integer Year from the @Date variable to ensure consistency
            
            EXEC [dbo].[usp_GKUpdateStats] @Year = @ProcessYear;

            -- Step 10: Recalculate the Mean (Average) Stats
            EXEC [dbo].[usp_GKUpdateStatsMean];

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback if a transaction is still active
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture and re-throw the error
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
