USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKCalculationUpdate]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.1
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKCalculationUpdate]
 * * Description: 
 * Performs the Guyton-Klinger capital preservation and prosperity rule 
 * calculations. It determines withdrawal limits (guardrails) based on 
 * inflation-adjusted withdrawals and updates the daily paycheck strategy.
 *
 * Parameters:
 * @ProcessDate (DATE) - The date to process. Defaults to System Date if NULL.
 *
 * Change Log:
 * v1.0 - 2026-02-10 - Initial documentation and error handling updates.
 * v1.1 - 2026-02-10 - Fixed RAISERROR date type substitution; removed legacy step 5.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKCalculationUpdate]
    @ProcessDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction rollback on severe errors

    -- 0. INITIALIZATION & VALIDATION
    -------------------------------------------------------------
    -- Set default date to current system date if not provided
    SET @ProcessDate = ISNULL(@ProcessDate, CAST(GETDATE() AS DATE));

    -- Validate that the record exists before starting transaction
    IF NOT EXISTS (SELECT 1 FROM [dbo].[GKCashFlow] WHERE [Date] = @ProcessDate)
    BEGIN
        -- Convert date to string for RAISERROR (cannot handle DATE type directly)
        DECLARE @ProcessDateStr NVARCHAR(20) = CONVERT(NVARCHAR, @ProcessDate, 120);
        RAISERROR('Error: No record found in [GKCashFlow] for the specified ProcessDate: %s.', 16, 1, @ProcessDateStr);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -------------------------------------------------------------
        -- 1. DEFINE CONSTANTS
        --    Hardcoded rules for the Guyton-Klinger decision tree.
        -------------------------------------------------------------
        DECLARE @Paycheck_Taxed_Percent FLOAT = 1.00;     -- 100%
        DECLARE @GK_Upper_Limit_Percent FLOAT = 0.20;     -- +20% (Prosperity Rule)
        DECLARE @GK_Lower_Limit_Percent FLOAT = -0.20;    -- -20% (Capital Preservation Rule)
        DECLARE @GK_Pay_Raise_Percent   FLOAT = 0.10;     -- +10% Adjustment
        DECLARE @GK_Pay_Cut_Percent     FLOAT = -0.10;    -- -10% Adjustment

        -------------------------------------------------------------
        -- 2. DETERMINE GUARDRAIL LIMITS (Annual Anchor)
        -------------------------------------------------------------
        DECLARE @Jan1Date DATE = DATEFROMPARTS(YEAR(@ProcessDate), 1, 1);
        DECLARE @Current_Inflated_Withdrawal DECIMAL(18,2);
        DECLARE @Calculated_Upper_Amount DECIMAL(18,2);
        DECLARE @Calculated_Lower_Amount DECIMAL(18,2);

        -- Retrieve current withdrawal amount for calculation
        SELECT @Current_Inflated_Withdrawal = Inflated_Withdrawal_Amount 
        FROM [dbo].[GKCashFlow] 
        WHERE [Date] = @ProcessDate;

        -- Safety check for NULL withdrawal data
        IF @Current_Inflated_Withdrawal IS NULL
        BEGIN
             THROW 51000, 'Calculation aborted: Inflated_Withdrawal_Amount is NULL for this date.', 1;
        END

        IF @ProcessDate = @Jan1Date
        BEGIN
            -- Jan 1st is the Anchor Date: Recalculate the absolute dollar limits
            SET @Calculated_Upper_Amount = @Current_Inflated_Withdrawal + (@Current_Inflated_Withdrawal * @GK_Upper_Limit_Percent);
            SET @Calculated_Lower_Amount = @Current_Inflated_Withdrawal + (@Current_Inflated_Withdrawal * @GK_Lower_Limit_Percent);
        END
        ELSE
        BEGIN
            -- Non-Anchor Dates: Inherit limits from Jan 1st of the current year
            SELECT 
                @Calculated_Upper_Amount = GK_Upper_Amount,
                @Calculated_Lower_Amount = GK_Lower_Amount
            FROM [dbo].[GKCashFlow]
            WHERE [Date] = @Jan1Date;

            -- Guardrail: Ensure Jan 1st has been initialized
            IF @Calculated_Upper_Amount IS NULL
            BEGIN
                -- Convert date to string for RAISERROR
                DECLARE @Jan1Str NVARCHAR(20) = CONVERT(NVARCHAR, @Jan1Date, 120);
                RAISERROR('Yearly initialization missing: No calculated guardrails found for January 1st (%s).', 16, 1, @Jan1Str);
            END
        END

        -------------------------------------------------------------
        -- 3. UPDATE CONSTANTS & LIMITS
        -------------------------------------------------------------
        UPDATE [dbo].[GKCashFlow]
        SET 
            Paycheck_Taxed_Percent = @Paycheck_Taxed_Percent,
            GK_Upper_Limit_Percent = @GK_Upper_Limit_Percent,
            GK_Lower_Limit_Percent = @GK_Lower_Limit_Percent,
            GK_Pay_Raise_Percent   = @GK_Pay_Raise_Percent,
            GK_Pay_Cut_Percent     = @GK_Pay_Cut_Percent,
            GK_Upper_Amount        = @Calculated_Upper_Amount,
            GK_Lower_Amount        = @Calculated_Lower_Amount,
            LastUpdate             = GETDATE()
        WHERE [Date] = @ProcessDate;

        -------------------------------------------------------------
        -- 4. CALCULATE ADJUSTMENTS & PAYCHECK
        --    Compare current inflation-adjusted withdrawal against 
        --    guardrails to apply raises or cuts.
        -------------------------------------------------------------
        UPDATE [dbo].[GKCashFlow]
        SET 
            GK_Adjustment_Percent = CASE 
                WHEN Inflated_Withdrawal_Amount > GK_Upper_Amount 
                    THEN Inflated_Withdrawal_Percent + (Inflated_Withdrawal_Percent * @GK_Pay_Raise_Percent)
                WHEN Inflated_Withdrawal_Amount < GK_Lower_Amount 
                    THEN Inflated_Withdrawal_Percent + (Inflated_Withdrawal_Percent * @GK_Pay_Cut_Percent)
                ELSE Inflated_Withdrawal_Percent
            END
        WHERE [Date] = @ProcessDate;

        -- Calculate Daily Paycheck based on Annual Periods (e.g., 252 trading days or 365 calendar days)
        UPDATE [dbo].[GKCashFlow]
        SET 
            GK_Annual_Periods_Adjustment_Percent = GK_Adjustment_Percent / NULLIF(Annual_Periods, 0),
            GK_Paycheck_Daily = (GK_Adjustment_Percent / NULLIF(Annual_Periods, 0)) * Total_Assets
        WHERE [Date] = @ProcessDate;

        -------------------------------------------------------------
        -- 5. RETRIEVE WITHDRAWAL STRATEGY
        -------------------------------------------------------------
        DECLARE @StrategyOutput TABLE (WithdrawalStrategy NVARCHAR(256));

        -- NOTE: Assuming usp_GetWithdrawalStrategy determines strategy based on current context
        INSERT INTO @StrategyOutput (WithdrawalStrategy)
        EXEC [dbo].[usp_GetWithdrawalStrategy];

        -- Update the Paycheck_Source column
        UPDATE [dbo].[GKCashFlow]
        SET Paycheck_Source = (SELECT TOP 1 WithdrawalStrategy FROM @StrategyOutput)
        WHERE [Date] = @ProcessDate;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback if a transaction is still active
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Log or re-throw the error
        RAISERROR ('Error in [usp_GKCalculationUpdate]: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END
GO
