USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[FederalStandardDeductions]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FederalStandardDeductions](
	[DeductionID] [int] IDENTITY(1,1) NOT NULL,
	[TaxYear] [int] NOT NULL,
	[FilingStatus] [varchar](50) NOT NULL,
	[DeductionAmount] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeductionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StdDed_Year_Status] UNIQUE NONCLUSTERED 
(
	[TaxYear] ASC,
	[FilingStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
