USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKGetCashFlowByYearExcelTable]    Script Date: 4/20/2026 12:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 8, 2026
 * Version:      1.3
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKGetCashFlowByYearExcelTable]
 *
 * Description: 
 * Retrieves detailed cash flow and Guyton-Klinger calculation data for a 
 * specific year. Designed to feed Excel reporting tables.
 *
 * Parameters:
 * @Year (INT) - The year to retrieve data for. Defaults to current system year if NULL.
 *
 * Change Log:
 * 3/8/2026 - SCA - Renamed and removed columns to align with new system of 
 *                  tracking income use.
 * **********************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKGetCashFlowByYearExcelTable]
    @Year INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- 1. INPUT VALIDATION & DEFAULTS
        -------------------------------------------------------------
        -- Set default to current year if no value is provided
        IF @Year IS NULL
        BEGIN
            SET @Year = YEAR(GETDATE());
        END

        -- Validate Year range (sanity check to prevent overflow or bad data)
        IF @Year < 1900 OR @Year > 2100
        BEGIN
             RAISERROR('Invalid Year: %d. Year must be between 1900 and 2100.', 16, 1, @Year);
             RETURN;
        END

        -- 2. MAIN QUERY
        -------------------------------------------------------------
        SELECT 
            [Date],
            [Taxable_Amount],
            [Taxable_Percent],
            [Tax_Free_Amount],
            [Tax_Free_Percent],
            [Tax_Deferred_Amount],
            [Tax_Deferred_Percent],
            [Cash_Amount],
            [Cash_Percent],
            [Total_Assets],
            [Delta],
            [Delta_Percent],
            [Annual_Periods],
            [CPI_U_Percent],
            [Inflated_Withdrawal_Percent],
            [Inflated_Withdrawal_Amount],
            [Withdrawal_Delta_Percent],
            [GK_Upper_Limit_Percent],
            [GK_Upper_Amount],
            [GK_Lower_Limit_Percent],
            [GK_Lower_Amount],
            [GK_Pay_Raise_Percent],
            [GK_Pay_Cut_Percent],
            [GK_Adjustment_Percent],
            [GK_Annual_Periods_Adjustment_Percent],
            [GK_Paycheck_Daily],
            [GK_Paycheck_Weekly],
            [GK_Paycheck_Monthly],
            [Paycheck_Taxed_Percent],
            [Paycheck_Source],
            [Pension],
            [Social_Security],
            [Social_Security_Spouse],
            [Social_Security_Taxed_Percent],
            [Roth],
            [W2_Income],
            [Income],
            [Spending_Less_Tax],
            [Investment],
            [Cash_Buffer],
            [Debt],
            [Tax_Withholding],
            [Tax_Target],
            [Tax_MFJ],
            [Tax_SF],
            [LastUpdate]
        FROM [Guyton-Klinger-Withdrawals].[dbo].[GKCashFlow]
        WHERE YEAR([Date]) = @Year
        ORDER BY [Date] ASC;

    END TRY
    BEGIN CATCH
        -- 3. ERROR HANDLING
        -------------------------------------------------------------
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorProcedure NVARCHAR(128) = ISNULL(ERROR_PROCEDURE(), 'usp_GKGetCashFlowByYearExcelTable');
        
        -- Append procedure name to error message for better debugging
        DECLARE @FullErrorMessage NVARCHAR(4000) = 'Error in ' + @ErrorProcedure + ': ' + @ErrorMessage;

        RAISERROR (@FullErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
