USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_CalculateCompositePrices]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * ===========================================================================================
 * Stored Procedure: usp_CalculateCompositePrices
 * -------------------------------------------------------------------------------------------
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * * Description:
 * Calculates and inserts the weighted composite price for active portfolio symbols 
 * grouped by TaxType and Closing Date.
 * * Logic: 
 * 1. Selects closing prices for active symbols.
 * 2. Applies weighting: Sum(Price * (PortfolioPercent / 100)).
 * 3. Inserts new records into [dbo].[CompositePortfolio].
 * 4. Skips records that already exist for the given TaxType/Date combination.
 * * Error Handling:
 * Uses TRY/CATCH blocks with Transaction management to ensure atomicity.
 * Rolls back transaction on error and raises the original error message.
 * * History:
 * 2026-02-10 - v1.0 - Initial creation and documentation.
 * ===========================================================================================
 */

CREATE PROCEDURE [dbo].[usp_CalculateCompositePrices]
AS
BEGIN
    -- Prevent extra result sets from interfering with SELECT statements.
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT = 0;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- =============================================
        -- Operation: Insert Calculated Composite Prices
        -- =============================================
        INSERT INTO [dbo].[CompositePortfolio] 
        (
            [TaxType], 
            [Closing], 
            [CompositePrice], 
            [LastUpdate]
        )
        SELECT 
            P.TaxType,
            CP.Closing,
            -- Calculation: Sum of (Price * Weight). 
            -- Dividing Percent by 100.0 ensures decimal precision (e.g. 50% becomes 0.50).
            SUM(CP.Price * (P.[Percent] / 100.0)) AS CompositePrice,
            GETDATE() AS LastUpdate
        FROM 
            [dbo].[ClosingPrices] CP
        INNER JOIN 
            [dbo].[Portfolio] P ON CP.Symbol = P.Symbol
        WHERE 
            -- Criterion 1: Only include currently active portfolio symbols
            P.Active = 1 
            -- Criterion 2: Ensure we do not calculate on missing price data
            AND CP.Price IS NOT NULL
            -- Criterion 3: Idempotency check - Only insert if this TaxType + Date combo doesn't exist
            AND NOT EXISTS (
                SELECT 1 
                FROM [dbo].[CompositePortfolio] Existing
                WHERE Existing.Closing = CP.Closing 
                  AND Existing.TaxType = P.TaxType
            )
        GROUP BY 
            CP.Closing, 
            P.TaxType;

        -- Capture the row count for logging/debugging purposes
        SET @RowsAffected = @@ROWCOUNT;

        COMMIT TRANSACTION;

        -- Optional: Print confirmation to the message window
        PRINT 'Success: Calculated composite prices. Rows inserted: ' + CAST(@RowsAffected AS VARCHAR(10));

    END TRY
    BEGIN CATCH
        -- =============================================
        -- Error Handling Block
        -- =============================================
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Log the error context (Optional: could insert into an ErrorLog table here)
        PRINT 'Error occurred in usp_CalculateCompositePrices: ' + @ErrorMessage;

        -- Re-raise the error to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
