USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKUpdateTaxableBalancesByDate]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 11, 2026
 * Version:      1.4
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKUpdateTaxableBalancesByDate]
 *
 * Description: 
 * Aggregates account balances from the [Balances] table based on Tax Type,
 * calculates total assets and percentages, determines the delta from the 
 * previous record, and performs an UPSERT (Merge) into [GKCashFlow].
 *
 * Parameters:
 * @AsOfDate (DATE) - The date to process. Defaults to System Date if NULL.
 *
 * Change Log:
 * v1.0 - 2026-02-10 - Initial documentation and error handling updates.
 * v1.4 - 3/11/2026 - Exclude non active accounts.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKUpdateTaxableBalancesByDate]
    @AsOfDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction terminates on severe error

    BEGIN TRY
        ---------------------------------------------------
        -- 1. Set default date to today if no argument is passed
        ---------------------------------------------------
        IF @AsOfDate IS NULL
            SET @AsOfDate = CAST(GETDATE() AS DATE);

        ---------------------------------------------------
        -- 2. Calculate Balances (CTE Logic)
        ---------------------------------------------------
        DECLARE @TaxableAmt DECIMAL(18,2) = 0;
        DECLARE @TaxFreeAmt DECIMAL(18,2) = 0;
        DECLARE @TaxDeferredAmt DECIMAL(18,2) = 0;
        DECLARE @CashAmt DECIMAL(18,2) = 0;

        -- We use a semicolon before the CTE to ensure previous statements are terminated
        ;WITH RankedBalances AS (
            SELECT 
                [ID],
                [Name],
                [Balance],
                [Type],
                [LastUpdate],
                ROW_NUMBER() OVER (
                    PARTITION BY [Name] 
                    ORDER BY [LastUpdate] DESC, [ID] DESC
                ) AS RowNum
            FROM [dbo].[Balances]
            WHERE CAST([LastUpdate] AS DATE) <= @AsOfDate
        ),
        MostRecentBalances AS (
            SELECT *
            FROM RankedBalances
            WHERE RowNum = 1
            AND [Balance] > 0.0
        ),
        AggregatedBalances AS (
            SELECT 
                  a.[TaxType]
                , SUM(m.[Balance]) AS TotalBalance
            FROM [dbo].[Accounts] a
            INNER JOIN MostRecentBalances m
                ON a.[Name] = m.[Name]
            WHERE m.[Type] = 'Account'
              AND a.[Category] NOT IN ('529', 'Liability', 'Operational-Cash')
              AND a.Active <> 0
            GROUP BY a.[TaxType]
        )
        -- Assign values to variables based on TaxType strings
        SELECT 
            @TaxableAmt     = ISNULL(SUM(CASE WHEN [TaxType] = 'Taxable' THEN TotalBalance ELSE 0 END), 0),
            @TaxFreeAmt     = ISNULL(SUM(CASE WHEN [TaxType] = 'Tax Free' THEN TotalBalance ELSE 0 END), 0),
            @TaxDeferredAmt = ISNULL(SUM(CASE WHEN [TaxType] = 'Tax Deferred' THEN TotalBalance ELSE 0 END), 0),
            @CashAmt        = ISNULL(SUM(CASE WHEN [TaxType] = 'Cash' THEN TotalBalance ELSE 0 END), 0)
        FROM AggregatedBalances;

        ---------------------------------------------------
        -- 3. Calculate Totals and Percentages
        ---------------------------------------------------
        DECLARE @TotalAssets DECIMAL(18,2) = @TaxableAmt + @TaxFreeAmt + @TaxDeferredAmt + @CashAmt;
        
        DECLARE @TaxablePct FLOAT = 0;
        DECLARE @TaxFreePct FLOAT = 0;
        DECLARE @TaxDeferredPct FLOAT = 0;
        DECLARE @CashPct FLOAT = 0;

        IF @TotalAssets > 0
        BEGIN
            SET @TaxablePct     = CAST(@TaxableAmt AS FLOAT) / CAST(@TotalAssets AS FLOAT);
            SET @TaxFreePct     = CAST(@TaxFreeAmt AS FLOAT) / CAST(@TotalAssets AS FLOAT);
            SET @TaxDeferredPct = CAST(@TaxDeferredAmt AS FLOAT) / CAST(@TotalAssets AS FLOAT);
            SET @CashPct        = CAST(@CashAmt AS FLOAT) / CAST(@TotalAssets AS FLOAT);
        END

        ---------------------------------------------------
        -- 4. Calculate Delta (Previous vs Current)
        ---------------------------------------------------
        DECLARE @PreviousTotalAssets DECIMAL(18,2);
        DECLARE @Delta DECIMAL(18,2) = 0;
        DECLARE @DeltaPercent FLOAT = 0;

        -- Get the Total_Assets from the most recent date BEFORE the @AsOfDate
        SELECT TOP 1 @PreviousTotalAssets = [Total_Assets]
        FROM [dbo].[GKCashFlow]
        WHERE [Date] < @AsOfDate
        ORDER BY [Date] DESC;

        -- Perform Calculation only if a previous record exists
        IF @PreviousTotalAssets IS NOT NULL
        BEGIN
            SET @Delta = @TotalAssets - @PreviousTotalAssets;
            
            -- Prevent Divide by Zero error
            IF @PreviousTotalAssets <> 0 
                SET @DeltaPercent = CAST(@Delta AS FLOAT) / CAST(@PreviousTotalAssets AS FLOAT);
        END

        ---------------------------------------------------
        -- 5. Perform Insert or Update (MERGE)
        ---------------------------------------------------
        BEGIN TRANSACTION;

        MERGE [dbo].[GKCashFlow] AS target
        USING (SELECT @AsOfDate AS [Date]) AS source
        ON (target.[Date] = source.[Date])
        
        WHEN MATCHED THEN
            UPDATE SET 
                [Taxable_Amount]      = @TaxableAmt,
                [Taxable_Percent]     = @TaxablePct,
                [Tax_Free_Amount]     = @TaxFreeAmt,
                [Tax_Free_Percent]    = @TaxFreePct,
                [Tax_Deferred_Amount] = @TaxDeferredAmt,
                [Tax_Deferred_Percent]= @TaxDeferredPct,
                [Cash_Amount]         = @CashAmt,
                [Cash_Percent]        = @CashPct,
                [Total_Assets]        = @TotalAssets,
                [Delta]               = @Delta,
                [Delta_Percent]       = @DeltaPercent,
                [LastUpdate]          = GETDATE()

        WHEN NOT MATCHED THEN
            INSERT (
                [Date],
                [Taxable_Amount], [Taxable_Percent],
                [Tax_Free_Amount], [Tax_Free_Percent],
                [Tax_Deferred_Amount], [Tax_Deferred_Percent],
                [Cash_Amount], [Cash_Percent],
                [Total_Assets],
                [Delta],
                [Delta_Percent],
                [LastUpdate]
            )
            VALUES (
                @AsOfDate,
                @TaxableAmt, @TaxablePct,
                @TaxFreeAmt, @TaxFreePct,
                @TaxDeferredAmt, @TaxDeferredPct,
                @CashAmt, @CashPct,
                @TotalAssets,
                @Delta,
                @DeltaPercent,
                GETDATE()
            );

        COMMIT TRANSACTION;

        -- Return the updated row for confirmation
        SELECT * FROM [dbo].[GKCashFlow] WHERE [Date] = @AsOfDate;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
