USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[FederalTaxRates]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FederalTaxRates](
	[RateID] [int] IDENTITY(1,1) NOT NULL,
	[TaxYear] [int] NOT NULL,
	[FilingStatus] [varchar](50) NOT NULL,
	[TaxRate] [decimal](5, 4) NOT NULL,
	[IncomeMin] [money] NOT NULL,
	[IncomeMax] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TaxYear_Status_Min] UNIQUE NONCLUSTERED 
(
	[TaxYear] ASC,
	[FilingStatus] ASC,
	[IncomeMin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
