USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUpdateRankings]    Script Date: 2/3/2026 6:50:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_GetUpdateRankings]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Gather the filtered data first to calculate Range Stats and Rankings
    WITH FilteredData AS (
        SELECT [ID], [Name], [LastUpdate]
        FROM [Guyton-Klinger-Withdrawals].[dbo].[Balances]
        WHERE [LastUpdate] >= '2026-01-01'
          AND [Type] <> 'Pod'
          AND [SequenceID] <> '4158071M'
    ),
    -- 2. Calculate the Date Range for the footer
    RangeStats AS (
        SELECT MIN([LastUpdate]) AS MinDate, MAX([LastUpdate]) AS MaxDate 
        FROM FilteredData
    )
    
    -- 3. Final Output with Union
    SELECT [Rank], [Name], [UpdateCount]
    FROM (
        -- Part A: The Main Rankings (Sorted 1 to appear at top)
        SELECT 
            1 AS SortKey,
            CAST(DENSE_RANK() OVER (ORDER BY COUNT([ID]) DESC) AS VARCHAR(50)) AS [Rank],
            [Name],
            COUNT([ID]) AS [UpdateCount]
        FROM FilteredData
        GROUP BY [Name]

        UNION ALL

        -- Part B: The Date Range Footer (Sorted 100 to appear at bottom)
        SELECT 
            100 AS SortKey,
            NULL AS [Rank], -- Placeholder for Rank column
            'Range: ' + 
            ISNULL(CONVERT(VARCHAR, MinDate, 101), 'N/A') + ' to ' + 
            ISNULL(CONVERT(VARCHAR, MaxDate, 101), 'N/A') AS [Name], -- Mapping 'TimeOfDay' to Name column
            NULL AS [UpdateCount]
        FROM RangeStats
    ) AS FinalResult
    ORDER BY SortKey, [UpdateCount] DESC;
END
GO
