USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKUpdateStatsMean]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         February 10, 2026
 * Version:      1.0
 * Database:     [Guyton-Klinger-Withdrawals]
 * Object:       [dbo].[usp_GKUpdateStatsMean]
 *
 * Description: 
 * Calculates the statistical mean (average) for various financial metrics 
 * across all valid calendar years in the [GKYearoverYearStats] table.
 * It excludes 'Goal' and 'Mean' rows from the calculation to ensure 
 * only actual historical data is aggregated.
 * ******************************************************************************
 */

CREATE PROCEDURE [dbo].[usp_GKUpdateStatsMean]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures transaction rollback on severe errors

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Check if there is data to average to avoid warning messages or logic errors
        IF EXISTS (SELECT 1 FROM dbo.GKYearoverYearStats WHERE [Year] NOT IN ('Goal', 'Mean'))
        BEGIN
            -- Update the 'Mean' row using averages calculated from all other rows
            UPDATE Target
            SET 
                Target.Taxable_Percent            = Source.Avg_Taxable_Percent,
                Target.Tax_Free_Percent           = Source.Avg_Tax_Free_Percent,
                Target.Tax_Deferred_Percent       = Source.Avg_Tax_Deferred_Percent,
                Target.Cash_Percent               = Source.Avg_Cash_Percent,
                Target.Sequence_of_Returns        = Source.Avg_Sequence_of_Returns,
                Target.Wealthfront_Consolidation  = Source.Avg_Wealthfront_Consolidation,
                Target.Spent                      = Source.Avg_Spent,
                Target.Tax                        = Source.Avg_Tax,
                Target.Spent_Tax             = Source.Avg_Spent_Plus_Tax,
                Target.CPI_U                      = Source.Avg_CPI_U,
                Target.Roth            = Source.Avg_Roth_Conversion,
                Target.Debt                 = Source.Avg_Debt_Ratio,
                Target.LastUpdate                 = GETDATE() -- Good practice to track when stats were last recalculated
            FROM dbo.GKYearoverYearStats AS Target
            CROSS JOIN (
                SELECT 
                    AVG(Taxable_Percent) AS Avg_Taxable_Percent,
                    AVG(Tax_Free_Percent) AS Avg_Tax_Free_Percent,
                    AVG(Tax_Deferred_Percent) AS Avg_Tax_Deferred_Percent,
                    AVG(Cash_Percent) AS Avg_Cash_Percent,
                    AVG(Sequence_of_Returns) AS Avg_Sequence_of_Returns,
                    AVG(Wealthfront_Consolidation) AS Avg_Wealthfront_Consolidation,
                    AVG(Spent) AS Avg_Spent,
                    AVG(Tax) AS Avg_Tax,
                    AVG(Spent_Tax) AS Avg_Spent_Plus_Tax,
                    AVG(CPI_U) AS Avg_CPI_U,
                    AVG(Roth) AS Avg_Roth_Conversion,
                    AVG(Debt) AS Avg_Debt_Ratio
                FROM dbo.GKYearoverYearStats
                WHERE [Year] NOT IN ('Goal', 'Mean')
            ) AS Source
            WHERE Target.[Year] = 'Mean';
        END
        ELSE
        BEGIN
            -- Optional: Handle case where no source data exists
            PRINT 'No data found in [GKYearoverYearStats] to calculate means.';
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback if a transaction is still active
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Log or re-throw the error
        RAISERROR ('Error in [usp_GKUpdateStatsMean]: %s', @ErrorSeverity, @ErrorState, @ErrorMessage);
    END CATCH
END;
GO
