USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GKStatsBalanceSheetExcelTable]    Script Date: 3/9/2026 9:48:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
 * ******************************************************************************
 * Developer:    Cave Arnold
 * AI Assistant: Gemini
 * Date:         March 9, 2026
 * Version:      1.4
 *
 * Description:
 * Retrieves a subset of Year-Over-Year statistics for Excel reporting.
 * Filters to the current year by default if no parameter is provided.
 * Uses CROSS APPLY to unpivot the data vertically, ensuring the exact 
 * row order matches the required Excel layout.
 * ******************************************************************************
 */

CREATE   PROCEDURE [dbo].[usp_GKStatsBalanceSheetExcelTable]
    @TargetYear VARCHAR(4) = NULL
AS
BEGIN
    -- Prevent row count messages from interfering with the result set
    SET NOCOUNT ON;

    -- If no year is provided, default to the current system year
    IF @TargetYear IS NULL
    BEGIN
        SET @TargetYear = CAST(YEAR(GETDATE()) AS VARCHAR(4));
    END

    BEGIN TRY
        SELECT 
            MetricData.Metric,
            MetricData.Percentage
        FROM [dbo].[GKYearOverYearStats]
        CROSS APPLY (
            VALUES 
                ('Assets', [Assets], 1),
                ('Pension_NPV', [Pension_NPV], 2),
                ('Social_Security_NPV', [Social_Security_NPV], 3),
                ('Social_Security_Spouse_NPV', [Social_Security_Spouse_NPV], 4),
                ('Life_Insurance', [Life_Insurance], 5),
                ('Debt', [Debt], 6)
        ) AS MetricData(Metric, Percentage, SortOrder)
        WHERE [Year] = @TargetYear
        ORDER BY MetricData.SortOrder;

    END TRY
    BEGIN CATCH
        -- Capture error details
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        -- Return the error information to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
