USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[CPILatestNumbers]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CPILatestNumbers](
	[ReportMonth] [nvarchar](20) NOT NULL,
	[NSA_Monthly_Change] [nvarchar](50) NULL,
	[NSA_Monthly_Date] [nvarchar](20) NULL,
	[SA_Monthly_Change] [nvarchar](50) NULL,
	[SA_Monthly_Date] [nvarchar](20) NULL,
	[NSA_Yearly_Change] [nvarchar](50) NULL,
	[NSA_Yearly_Since_Date] [nvarchar](20) NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_CPILatestNumbers] PRIMARY KEY CLUSTERED 
(
	[ReportMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
