USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPortfolioExcelTable]    Script Date: 3/8/2026 3:28:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* * =============================================
 * Developer:       Cave Arnold
 * AI Assistant:    Gemini
 * Create Date:     February 21, 2026
 * Version:         1.1
 * Description:     Retrieves the active portfolio data for Excel export.
 * Calculates individual allocations, total allocations per tax type,
 * and relative weights within those tax groups.
 * Converts percentage integer values (0-100) to decimal scale (0.0-1.0).
 * Adds current closing price and number of shares per current balance of Tax Type.
 *
 * Change Log:
 * -------------------------------------------------------------------------
 * Date          Author          Description
 * 2026-02-10   Cave Arnold     Initial Release.
 * 2026-02-21   Cave Arnold     Adds current closing price and number of shares per current balance of Tax Type.
 * =============================================
 */

CREATE PROCEDURE [dbo].[usp_GetPortfolioExcelTable]
AS
BEGIN
    -- Prevent extra result sets from interfering with SELECT statements.
    SET NOCOUNT ON;

    BEGIN TRY
        -- =======================================================
        -- Main Logic
        -- =======================================================
        SELECT 
            P.[TaxType],
            P.[Symbol],
            [Name],
            
            -- Convert absolute percent (0-100) to decimal ratio (0.0-1.0)
            -- Precision cast to DECIMAL(5, 4) allows for values like 1.0000 (100%)
            CAST([Percent] / 100.0 AS DECIMAL(5, 4)) AS [IndividualAllocation],
            
            -- Calculate the total allocation for the specific TaxType group
            -- Uses Window Function to sum over the partition without collapsing rows
            CAST(SUM([Percent]) OVER(PARTITION BY P.[TaxType]) / 100.0 AS DECIMAL(5, 4)) AS [TaxTypeTotalAllocation],
            
            -- Calculate the relative weight of this asset within its TaxType group
            -- Formula: (Individual % / Total Group %)
            -- NULLIF handles potential divide-by-zero errors if a group sum is 0
            CAST(([Percent] / NULLIF(SUM([Percent]) OVER(PARTITION BY P.[TaxType]), 0)) AS DECIMAL(5, 4)) AS [WeightWithinGroup],

            [Price],
            CAST(([Percent] / 100.0 * [TotalBalance]) / [Price] AS DECIMAL(10, 4)) AS [Shares]
        
        FROM [dbo].[Portfolio] P, [dbo].[vw_MostRecentPrice] R, vw_AccountBalancesByTaxTypeAndCategory T
        WHERE [Active] = 1
          AND P.[Symbol] = R.[Symbol]
          AND P.[TaxType] = T.[TaxType]
        ORDER BY 
            [TaxTypeTotalAllocation] DESC, 
            P.[TaxType] ASC, 
            [IndividualAllocation] DESC;
            
    END TRY
    BEGIN CATCH
        -- =======================================================
        -- Error Handling
        -- =======================================================
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Return the error information to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
        
        -- Alternatively, for SQL Server 2012+, use THROW; to re-throw the exact error
        -- THROW; 
    END CATCH
END
GO
