USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  Table [dbo].[CompositePortfolio]    Script Date: 3/9/2026 9:48:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompositePortfolio](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaxType] [nvarchar](25) NOT NULL,
	[Closing] [datetime] NULL,
	[CompositePrice] [money] NOT NULL,
	[LastUpdate] [datetime] NULL
) ON [PRIMARY]
GO
