USE [Guyton-Klinger-Withdrawals]
GO
/****** Object:  View [dbo].[vw_HighestPositiveVariance]    Script Date: 5/8/2026 9:42:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 * Developer: Cave Arnold
 * AI Assistant: Gemini
 * Date: February 21, 2026
 * Version: 1.0
 * Description: 
 * This view identifies the account type with the highest positive surplus 
 * by comparing the percentages of the latest year against the 'Goal' year 
 * in the GKYearOverYearStats table. It unpivots the data and returns the 
 * name of the account type (Taxable, Tax_Free, or Tax_Deferred) with the 
 * highest positive variance, with the '_Percent' suffix removed.
 *
 * Change Log:
 * -------------------------------------------------------------------------
 * 2026-02-21 (Cave Arnold & Gemini): Initial creation of view logic and documentation.
 */

CREATE VIEW [dbo].[vw_HighestPositiveVariance]
AS
WITH GoalData AS (
    -- 1. Isolate the "Goal" row
    SELECT 
        Taxable_Percent, 
        Tax_Free_Percent, 
        Tax_Deferred_Percent
    FROM [Guyton-Klinger-Withdrawals].[dbo].[GKYearOverYearStats]
    WHERE [Year] = 'Goal'
),
LatestYearData AS (
    -- 2. Isolate the Latest Year row (Ignoring 'Goal')
    SELECT TOP 1 
        Taxable_Percent, 
        Tax_Free_Percent, 
        Tax_Deferred_Percent
    FROM [Guyton-Klinger-Withdrawals].[dbo].[GKYearOverYearStats]
    WHERE [Year] <> 'Goal'
    ORDER BY [Year] DESC
),
CalculatedDifferences AS (
    -- 3. Subtract Goal percentages from the Latest Year percentages
    SELECT 
        (L.Taxable_Percent - G.Taxable_Percent) AS Diff_Taxable,
        (L.Tax_Free_Percent - G.Tax_Free_Percent) AS Diff_Tax_Free,
        (L.Tax_Deferred_Percent - G.Tax_Deferred_Percent) AS Diff_Tax_Deferred
    FROM LatestYearData L
    CROSS JOIN GoalData G
),
UnpivotedDifferences AS (
    -- 4. Unpivot the columns into rows and strip out the "_Percent" suffix
    SELECT AccountType, DifferenceValue
    FROM CalculatedDifferences
    CROSS APPLY (
        VALUES 
            ('Taxable', Diff_Taxable),
            ('Tax Free', Diff_Tax_Free),
            ('Tax Deferred', Diff_Tax_Deferred)
    ) AS unpvt(AccountType, DifferenceValue)
)
-- 5. Select the highest positive value
SELECT TOP 1 AccountType AS Highest_Surplus_Account
FROM UnpivotedDifferences
WHERE DifferenceValue > 0
ORDER BY DifferenceValue DESC;
GO
